[2016-11-03 12:42] nowStackOverflow opened #1 "The page build failed with the tag "asset_path""
The page build failed with the following error:

The tag `asset_path` on line 1 in `_posts/2016-10-15-chalk-sample-post-with-all-elements.md` is not a recognized Liquid tag. For more information, see https://help.github.com/articles/page-build-failed-unknown-tag-error.

I think, The tag "og_image" is not configured....

[2016-11-03 13:01] nielsenramon commented on #1
@nowStackOverflow I'll fix that tonight! Thanks for finding out :)

[2016-11-03 20:09] nielsenramon commented on #1
@nowStackOverflow I cannot replicate this issue. For me it works perfectly.

<img width="1709" alt="screen shot 2016-11-03 at 21 09 15" src="https://cloud.githubusercontent.com/assets/1246672/19983306/ce424606-a209-11e6-9e57-f52cbf697a9b.png">

Did you run bundle install?

[2016-11-03 22:55] longxyer commented on #1
@nielsenramon Hei~I also have the same error.
I just forked your theme and changed the CNAME. And every time I tried to change some original documents or create a new one, I got a e-mail to remind me there is en error.

[2016-11-04 02:14] nowStackOverflow commented on #1
I tried many ways to solve this error.  but I haven't figured out yet. This repository is being used experimentally on my [repository](https://github.com/nowij/nowij.github.io).

[2016-11-04 09:08] nielsenramon commented on #1
@nowStackOverflow @longxyer You cannot use Chalk the default way on Jekyll btw, you have to use `bin/deploy` to do so. Chalk uses non-supported plugins.

`bin/deploy` will push a working version to gh-pages branch :)

[2016-11-04 11:51] nowStackOverflow commented on #1
Thank you for your answers...
So...
Do I have to repeat it everytime?
like this?

[code]

[2016-11-04 13:30] nielsenramon commented on #1
@nowStackOverflow Please read the README.

All you have to do is push to your master branch (or any other branch) and run `bin/deploy`
This will take care of everything.

More information can be found here: http://kickster.nielsenramon.com/

[2016-11-05 23:36] narner opened #3 "Question re: menus"
Hi there! Really lovely template; great job!

I'm not a web developer / designer, but am wanting to build my portfolio using Jekyll/GitHub Pages. Is it possible to include page headers at the top of the page (like the screenshot below) if you're using Chalk as your theme?

![screen shot 2016-11-05 at 7 35 31 pm](https://cloud.githubusercontent.com/assets/2131591/20034289/0a0e653a-a38f-11e6-909d-a2

[2016-11-06 11:35] nielsenramon commented on #3
@narner Not 100% sure what you want but you could add a header in html yes :) You'll need some html knowledge tho.

[2016-11-06 14:45] christiantype opened #4 "Receiving warning when running Jekyll Serve"
`Christians-MacBook-Pro:chalk-master christians$ jekyll serve
WARN: Unresolved specs during Gem::Specification.reset:
      rb-fsevent (>= 0.9.4, ~> 0.9)
WARN: Clearing out unresolved specs.
Please report a bug if this causes problems.
Configuration file: /Users/christians/Documents/chalk-master/_config.yml
Configuration file: /Users/christians/Documents/chalk-master/_config.yml
            Source

[2016-11-06 16:53] nielsenramon commented on #4
@christiantype Did you run `bin/setup`? Any errors during setup? Ruby version?

[2016-11-08 18:43] littletiger666 commented on #4
When I try to run
`bundle exec jekyll serve`
I got this error:
<img width="914" alt="screenshot 2016-11-08 10 32 18" src="https://cloud.githubusercontent.com/assets/9539036/20111917/f5796540-a59e-11e6-9930-c2cbe9e6bf7f.png">

I already run `bin/setup` and `bundle install`, there were no errors.

[2016-11-08 18:45] nielsenramon commented on #4
It looks like you cannot find the required fluidbox css in your project.
Can you check if you have the file in `_assets/bower/fluidbox` please?

[2016-11-08 18:52] littletiger666 commented on #4
No I can't find `_assets/bower/fluidbox` file

[2016-11-08 18:55] nielsenramon commented on #4
Can you check what happens when you run `bower install`? Also please check if you have a `.bowerrc` file in the root folder.

[2016-11-08 19:08] littletiger666 commented on #4
It worked after I run `bower install`!
The reason it didn't work it that I didn't install npm and bower.
Thank you very much!

[2016-11-08 19:59] #4 closed

[2016-11-08 19:59] #3 closed

[2016-11-08 19:59] #1 closed

[2016-11-11 15:38] VictorioBerra opened #8 "New to Jekyll, is this a Ruby Gem? How do I install this?"
[The Jekyll documentation](http://jekyllrb.com/docs/themes/) says to install a theme using these steps:

- To install a theme, first, add the theme to your site’s `Gemfile`
  - gem '`my-awesome-jekyll-theme`'
- Save the changes to your Gemfile
- Run the command bundle install to install the theme

Is this theme installed differently?

[2016-11-11 17:53] nielsenramon commented on #8
@VictorioBerra Yeah this one is different. I can't include custom plugins into a jekyll theme so I made this one differently.

Please look at the README.md file to see how you can set it up :)

[2016-11-11 18:08] VictorioBerra commented on #8
Good to know. Thank you.

On Fri, Nov 11, 2016 at 11:53 AM, Nielsen Ramon <notifications@github.com>
wrote:

[2016-11-11 21:34] #8 closed

[2016-11-13 10:38] rollonbears234 opened #9 "File not found"
I am getting the following error

Error in _assets/stylesheets/light.scss:50 File to import not found or unreadable: ../bower/fluidbox/src/css/_fluidbox.scss.
Load paths:
  /Users/bryanalcorn/Downloads/chalk-master/_assets/css
  /Users/bryanalcorn/Downloads/chalk-master/_assets/stylesheets
  /Users/bryanalcorn/Downloads/chalk-master/_assets/images
  /Users/bryanalcorn/Downloads/chalk-master/_asset

[2016-11-13 11:24] nielsenramon commented on #9
@rollonbears234 Please run bin/setup (it looks like you did not run bower install). It's in the readme :)

[2016-11-13 11:24] #9 closed

[2016-11-13 17:34] rollonbears234 commented on #9
Thanks, I ran the setup, but I did not notice that bower was not installed. Will try to fix it now

Great template by the way, can't wait to get a site up and running!

[2016-11-13 19:56] rollonbears234 opened #10 "Problems Deploying"
Thanks in advanced for your help, have spent hours trying to get this to work and am only making an issue when I don't think I can do it myself.

#### My steps

So I took the template, added my empty username.github.io repo, and ran `bin/setup`. This runs successfully with no errors.

I then run `bundle exec jekyll serve` and I went to `http://127.0.0.1:4000/`. This works successfully.

Finally I

[2016-11-13 22:19] christiantype commented on #4
All is working fine now. Thanks everybody

[2016-11-14 11:30] ewnit opened #11 "how can I deploy my pages to multiple repos?"
I want to customize my pages to multiple repos like this

[code]

for some reasons(Chinese web user) sometimes I even can not access github pages

[2016-11-15 09:33] nielsenramon commented on #11
@ewnit I never supported multiple repo's actually so never tried working like that. You won't be able to use the included bin/deploy script with this workflow tho.

You can run the Jekyll site on any branch you like.

Not sure where I can help you with atm.

[2016-11-15 09:35] nielsenramon commented on #10
@rollonbears234 You need 2 branches. Master and gh-pages. Master is the Jekyll project and gh-pages is the one the deploy script uses so don't use that one youself. If you run on bin/deploy on your master branch everything should work perfectly.

You can never merge the gh-pages branch in your working branch as that only contains the generated static website :)

[2016-11-15 09:36] #10 closed

[2016-11-16 02:07] ewnit commented on #11
Thanks anyway, I will try to figure out.

[2016-11-16 02:07] #11 closed

[2016-11-19 20:46] christiantype opened #13 "Encountering issues when deploying _site"
I've used `jekyll build` to generate my `_site` which I've uploaded to my live domain which can be viewed here:  http://christiansolorzano.com/demo/

Can anybody let me know what is happening? Links are not working and neither are the stylesheets. Here is my repositirory: https://github.com/christiantype/jekyll-bourbon-test

Thanks

[2016-11-19 21:10] nielsenramon commented on #13
@christiantype Have you tried setting the baseurl to demo? As you aren't using the root domain.

[2016-11-19 21:31] christiantype commented on #13
Great! That seemed to fix things :-)  http://christiansolorzano.com/demo/

Some links are broke now. Below is what is in my _config.yml. Should /demo/ be included elsewhere besides the baseurl?

[code]

[2016-11-20 15:58] nikolalukovic opened #14 "Navigating to pages produces 404"
Hi,
I'm using nginx to host a blog with this theme and everything works except navigating to pages.
You can check out the website [here](https://nikolalukovic.com).
What happens is when you try to navigate to a [page](https://nikolalukovic.com/posts/introducing-chalk), 404 pops up, but if you add .html at the end of the page than everything works correctly.

If i use --serve handle from jekyll to

[2016-11-20 16:01] #14 closed

[2016-11-20 16:02] nikolalukovic commented on #14
The problem was solved with nginx setup in config file.

[2016-11-20 22:31] nielsenramon commented on #13
@christiantype It should work with just the baseurl. Does it work locally when running jekyll serve?

[2016-11-21 10:32] avarabyeu opened #15 "Title becomes bold during navigation"
Sometimes title becomes bold, then becomes normal again.
Steps to reproduce:
1. Open http://chalk.nielsenramon.com/
2. Click at 'How to configure Chalk' (it usually appears with this blog post)

Looking forward for a fix.
P.S. Theme is awesome, many thanks for sharing it!

[2016-11-21 10:47] nielsenramon commented on #15
@avarabyeu That's normal, it's the google fonts async delay. So it uses the system font first until the google font has been downloaded. I know it's not that nice but it's the optimal option for Google PageSpeed. You can disable the async version if you just include the default script tag from their website!

[2016-11-21 10:47] #15 closed

[2016-11-21 12:05] avarabyeu commented on #15
@nielsenramon just replaced 'WebFont.load...' with standard <link href...> directives, but still no luck, behaviour is the same.  Maybe, i'm doing smth wrong. May i ask you to have a look?
[code]

[2016-11-21 12:28] nielsenramon commented on #15
@avarabyeu Put the 2 scripts in the `<head>` ;-)
Also you can make 1 script link of that.

[2016-11-21 12:35] avarabyeu commented on #15
@nielsenramon Thanks a lot!! 👍

[2016-11-25 17:04] christiantype commented on #13
When I work locally using `http://127.0.0.1:4000/demo/`, homepage works fine.

However, when I click on a post, the link goes to `http://127.0.0.1:4000/posts/writingthrough` and I receive the 404 error page. I have to manually type `/demo` before `/posts/` in the URL, to see my post.

Here's an a live example:
Home page: http://christiansolorzano.com/demo
Post, clicked from: home page: http://chri

[2016-11-26 00:05] jesster2k10 opened #16 "Installation"
How can I install this on my site.
I'm so stuck. Please help s your guide is too  vague. Itried following this but I get an error http://jekyllbootstrap.com/usage/jekyll-theming.html

    No such file or directory @ rb_sysopen - ./_theme_packages/_tmp/manifest.yml

[2016-11-27 10:29] nielsenramon commented on #16
@jesster2k10 Please follow the exact same instructions from the readme file. I do not use the way you linked me ;)

[2016-11-27 10:29] #16 closed

[2016-11-27 10:33] nielsenramon commented on #13
@christiantype I see what happened, you are using an old version of Chalk. I fixed everything by using relative_paths from Jekyll. Please have a look at the index page and switch the urls :)

[2016-11-27 20:06] christiantype commented on #13
Cool! I noticed you `Use new Jekyll relative_url and absolute_urls (#7)` in several places. Would you recommend that I do it everywhere you did?

[2016-11-28 09:34] nielsenramon commented on #13
@christiantype Yes! Let me know if you have any more issues.

[2016-11-28 09:34] #13 closed

[2016-11-28 18:09] jesster2k10 opened #18 "Invalid Tags"
I made an article following your sample one. You can check it out on my repo [here](https://github.com/jesster2k10/jesster2k10.github.io) this is what I get on my github account:

    Your site is having problems building: The tag asset_path on line 1 in _posts/2016-11-28-user-login-sign-up-using-firebase-in-swift-3.md is not a recognized Liquid tag. For more information, see https://help.github.c

[2016-11-28 20:13] nielsenramon commented on #18
@jesster2k10 Have you run bin/setup? Check if jekyll-assets is installed please.

[2016-11-28 21:21] jesster2k10 commented on #18
yea i have, ill run again

[2016-11-28 21:24] jesster2k10 commented on #18
This is my log output:

Jesses-iMac:chalk-master 3 jeffe$ bin/setup
The Gemfile's dependencies are satisfied
Fetching gem metadata from https://rubygems.org/..........
Fetching version metadata from https://rubygems.org/..
Fetching dependency metadata from https://rubygems.org/.
Resolving dependencies.......
Using concurrent-ruby 1.0.2
Using i18n 0.7.0
Using minitest 5.9.1
Using thread_safe 0.3.5

[2016-11-28 21:27] jesster2k10 commented on #18
I tried with sudo

Jesses-iMac:chalk-master 3 jeffe$ sudo bin/setup
Password:
The Gemfile's dependencies are satisfied
Fetching gem metadata from https://rubygems.org/..........
Fetching version metadata from https://rubygems.org/..
Fetching dependency metadata from https://rubygems.org/.
Resolving dependencies...
Using concurrent-ruby 1.0.2
Using i18n 0.7.0
Using minitest 5.9.1
Using thread_safe

[2016-11-28 21:41] nielsenramon commented on #18
@jesster2k10 Can you check if `bower install` works fine?

[2016-11-28 21:49] jesster2k10 commented on #18
Jesses-iMac:chalk-master 3 jeffe$ bower install
/usr/local/lib/node_modules/bower/lib/node_modules/configstore/index.js:54
				throw err;
				^

Error: EACCES: permission denied, open '/Users/jeffe/.config/configstore/bower-github.json'
You don't have access to this file.

    at Error (native)
    at Object.fs.openSync (fs.js:640:18)
    at Object.fs.readFileSync (fs.js:508:33)
    at Object.get

[2016-11-28 21:50] nielsenramon commented on #18
Yeah you have to fix your bower setup first I'm afraid. Try reinstalling without sudo.

[2016-11-28 21:50] jesster2k10 commented on #18
Jesses-iMac:chalk-master 3 jeffe$ sudo bower install
Password:
bower ESUDO         Cannot be run with sudo

Additional error details:
Since bower is a user command, there is no need to execute it with superuser permissions.
If you're having permission errors when using bower without sudo, please spend a few minutes learning more about how your system should work and make any necessary repairs.

ht

[2016-11-28 21:51] jesster2k10 commented on #18
I ran this and nothing came out

   sudo bower install --allow-root

[2016-11-28 21:55] nielsenramon commented on #18
Try without sudo, looks like your bower installation is kinda broken. Can't help you with that I'm afraid ;-)

[2016-11-28 22:19] irasuna commented on #18
@jesster2k10 edit the last line of your bin/setup file to be
[code]

and run `sudo bin/setup`. If you still encounter error, try to copy whatever inside `bower_component/` into `_assets/bower/`. Now you should be able to run the web locally. To deploy, run `sudo bin/deploy` but then again you should modify the lines in the bin/deploy file that says `bower install` into `bower install --allow-root`

[2016-11-28 22:37] jesster2k10 commented on #18
it worked!

[2016-11-28 22:42] jesster2k10 commented on #18
when I run bin/deploy i get

Cannot delete branch 'gh-pages' checked out at '/Users/jeffe/Downloads/chalk-master 3'

[2016-11-28 22:42] jesster2k10 commented on #18
when i run bin/deploy i get

fatal: A branch named 'gh-pages' already exists.

[2016-11-28 22:48] jesster2k10 commented on #18
Jesses-iMac:chalk-master 3 jeffe$ sudo bin/deploy
Password:
Started deploying
M	bin/deploy
M	bin/setup
Switched to a new branch 'gh-pages'
bower ESUDO         Cannot be run with sudo

Additional error details:
Since bower is a user command, there is no need to execute it with superuser permissions.
If you're having permission errors when using bower without sudo, please spend a few minutes learnin

[2016-11-28 22:49] jesster2k10 commented on #18
where's the bower compenent?

[2016-11-28 22:53] irasuna commented on #18
@jesster2k10 first you need to go back to your master branch, then delete your gh-pages branch
[code]
now you should be able to run `sudo bin/deploy`. If you don;t see your web after doing so, try to merge your gh-pages into your master branch
[code]

and as I told you before, edit all the the line in the bin/deploy file that says `bower install` into `bower install --allow-root`. Then run `sudo b

[2016-11-29 02:14] jesster2k10 commented on #18
I still have the same issue even if I added the --allow-root in the deploy. there's no `bower_component` at all in my folder. And it's not in my `_assests/bower`. For some strange reason, bin/setup works and bin/deploy doesn't

[2016-11-29 06:49] ewnit commented on #18
I also got this problem.
[code]

[2016-11-29 09:21] nielsenramon commented on #18
`asset_path` is from the jekyll-assets gem. What version of Ruby are you using? Is everything correctly installed? If you don't have `_assets/bower` there is something wrong with your bower installation.

[2016-11-29 09:45] ewnit commented on #18
here is my `ruby --version` output and my `bower install` works fine, `_assets/bower` exists too:

[code]

[2016-11-29 13:39] jesster2k10 commented on #18
there's assets/bower and inside theres fluidbox jquery and scrollreveal

[2016-11-29 13:41] jesster2k10 commented on #18
ruby 2.3.1p112 (2016-04-26 revision 54768) [x86_64-darwin16]

that's my ruby version

[2016-11-29 16:51] 2fat2kidnap opened #19 "Tag generator"
Hi,

I'm using Chalk, but deploying on Gitlab, so I needed to have a tag generator that basically would loop through my `_posts/` directory, read all the tags, and create `.md` files for them in the `_my_tags` directory. I wanted to post it here too in case somebody else comes searching for it. I understand this is not directly relevant to Github users because it is not possible to run custom Ruby

[2016-11-29 19:12] jesster2k10 commented on #18
I downgraded my ruby version to 2.3.0, update brew and followed this https://github.com/bower/bower/issues/2262

My `bower install` works however, I'm getting this error now

/Users/jeffe/.rbenv/versions/2.3.1/lib/ruby/2.3.0/rubygems/dependency.rb:319:in `to_specs': Could not find 'bundler' (>= 0.a) among 16 total gem(s) (Gem::LoadError)
Checked in 'GEM_PATH=/Users/jeffe/.rvm/gems/ruby-2.3.0:/User

[2016-11-29 19:12] jesster2k10 commented on #18
I'll try run bin/setup again, see if that fixes it

[2016-11-29 19:19] jesster2k10 commented on #18
Ran set up and it deployed successfully, time to check the site

[2016-11-29 19:55] jesster2k10 commented on #18
M site works, but it's now HTML and not .md how can I edit it or make posts now?

[2016-11-29 19:58] jesster2k10 commented on #18
my bad, forgot to push before deploy

[2016-11-29 20:24] jesster2k10 commented on #18
can you check if i've done everything right? My site shows up as not found

https://github.com/jesster2k10/jesster2k10.github.io

[2016-11-29 22:49] jesster2k10 commented on #18
When I run `bin/setup` it works successfully but I see the following warnings

     bower invalid-meta  for:/var/folders/w_/3clcl4bs3sz2dr69fqr458zr0000gn/T/jeffe/bower/75bc45a9b7382783b733434da90458e5-89972-BJ664r/bower.json
    bower invalid-meta  The "main" field cannot contain minified files
    bower invalid-meta  The "main" field cannot contain minified files
    bower mismatch      Version

[2016-12-01 09:52] nielsenramon commented on #18
@ewnit Can you verify that you installed jekyll-assets on ruby 2.3.0 please and that you ran bundle install?
@jesster2k10 I have no idea what is going on with your bower installation. Did you reinstall properly? It looks like you have multiple versions running?

[2016-12-02 04:08] ewnit commented on #18
[code]

I'm not quite familiar with this, does `Using jekyll-assets 2.2.8` prove I have installed it

[2016-12-02 04:39] EQuimper opened #20 "Got problem with one gem"
Hello I got this after running `bin/setup`

[code]

[2016-12-02 09:28] nielsenramon commented on #18
@ewnit jep looking good. Still same error? Is your repo open source so I can check it?

[2016-12-02 09:30] nielsenramon commented on #20
Try this: http://stackoverflow.com/questions/34651519/error-while-installing-nokogiri-1-6-7-on-el-capitan ?

This error has nothing to do with Chalk :)

[2016-12-02 09:30] #20 closed

[2016-12-02 16:43] EQuimper commented on #20
Perfect thank you for the tips on that but now I think I got something relate to Chalk :)

[code]

[2016-12-02 16:52] nielsenramon commented on #20
@EQuimper Bower install was successful?

[2016-12-02 17:21] EQuimper commented on #20
Yes and the bin/setup was perfect gonna reinstall bower

[2016-12-02 17:22] EQuimper commented on #20
[code]

[2016-12-04 07:54] ewnit commented on #18
@nielsenramon yes, same problem, you can check my repo [ewnit.github.io](https://github.com/ewnit/ewnit.github.io).

[2016-12-05 10:04] fuyw opened #22 "A problem with the font"
I like chalk a lot, and I met a problem with the font display.

Font of the blog title is different when I deploy to github, and it works fine when I "jekyll serve" locally.

<img width="134" alt="screen shot 2016-12-05 at 5 31 32 pm" src="https://cloud.githubusercontent.com/assets/23493245/20879916/dc6605ae-bb10-11e6-9c0c-cfd6514b4188.png">

<img width="148" alt="screen shot 2016-12-05 at 5 31 17

[2016-12-05 10:22] fuyw commented on #22
I have found a difference of the html tag, some values become inactivate.

runs at gitbub:
<img width="646" alt="screen shot 2016-12-05 at 6 19 27 pm" src="https://cloud.githubusercontent.com/assets/23493245/20881470/76067238-bb17-11e6-9891-ae0107a14e73.png">

runs locally:
<img width="652" alt="screen shot 2016-12-05 at 6 19 17 pm" src="https://cloud.githubusercontent.com/assets/23493245/20881487

[2016-12-07 17:45] EQuimper commented on #18
+1 I got this me too and run all what people say here and still have error :(

[2016-12-09 20:49] xrisk opened #23 "How to use the about page?"
It seems there is no link to the about page other than a small link in the footer... Is there some way to add it to the navbar?

[2016-12-11 22:34] nielsenramon commented on #23
@xrisk You could alter the code to do so :)
I'll think about a secondary way to access it. Thanks for the heads up.

[2016-12-11 22:36] nielsenramon commented on #22
@fuyw Is your website open source so I can have a look? I can't replicate the issue.

[2016-12-12 12:49] nielsenramon commented on #18
@ewnit Just checked out your code and ran bin/setup. Had no issues.

![screen shot 2016-12-12 at 13 49 16](https://cloud.githubusercontent.com/assets/1246672/21099978/a5ec9428-c071-11e6-934b-444ede1e1bc5.png)

Can you all make sure that bower and ruby are installed correctly. If not I recommend you setting up your computer with a proper laptop script.

[2016-12-12 12:49] #18 closed

[2016-12-12 13:05] ewnit commented on #18
@nielsenramon This also runs well on my computer, but running `bin/deploy` just can't set up my page correctly on git pages. Trying to find out what was going on I changed my code on origin/master and received the mail from github said The tag `asset_path` on line 13 in `/_layouts/post.html` is not a recognized Liquid tag. `

[code]

[2016-12-12 13:08] ewnit commented on #23
@xrisk I diy it and add a small smile-face to the navbar, you can check my code.

[2016-12-12 13:33] nielsenramon commented on #23
@xrisk @ewnit I added a setting and link in the navigation ;-)

[2016-12-12 13:33] #23 closed

[2016-12-12 13:39] nielsenramon commented on #18
@ewnit Aaah of course you get that email. GitHub can't work with jekyll-assets. That's why there is a  deploy script which pushes the output to gh-pages branch. I advise you to change the branch name from master to something else to avoid these emails. Or rename your repo so it does not contain: github.io

[2016-12-12 15:04] ewnit commented on #18
@nielsenramon Understand now. Thank you so much! All I have to do is to merge `gh-pages` to `master` and the github.io page will show correctly.

[2016-12-12 15:18] nielsenramon commented on #18
Yeah and use an other branch for your jekyll project of course ;-)

[2016-12-12 16:24] EQuimper commented on #18
Work for me now, yes I got this email and didn't figure out. Thank you @nielsenramon

[2016-12-13 00:07] xrisk commented on #23
Great stuff. Thanks!

On 12 Dec 2016, 7:03 PM +0530, Nielsen Ramon <notifications@github.com>, wrote:

[2016-12-15 11:19] #22 closed

[2016-12-16 08:51] ZhuZeus commented on #23
Failed to run on GitHub.... it seems looks like jekyll has a problem.Can you help me about that?

[2016-12-16 09:42] nielsenramon commented on #23
@ZhuZeus Can you define the problem please?

[2016-12-16 15:57] xjsXjtu opened #26 "Does Chalk support Chinese?"
Hi ,

I am new to Jekyll. I tried to install Chalk in my computer, but I got an error msg when runing 'bundle exec jekyll serve':

`$ bundle exec jekyll serve
Configuration file: C:/Users/xiongjs/github/xjsXjtu.github.io/_config.yml
Configuration file: C:/Users/xiongjs/github/xjsXjtu.github.io/_config.yml
            Source: C:/Users/xiongjs/github/xjsXjtu.github.io
       Destination: C:/Users/xi

[2016-12-18 10:06] djacquel opened #27 "fluidbox.scss import error"
Once installed `bundle exec jekyll serve` return a scss import error ([see](http://stackoverflow.com/questions/41204946/jekyll-serve-not-working-cannot-find-fluidbox-scss)).

Install process needs to include `bower install`.

[2016-12-18 21:02] christiantype opened #28 "Posts not appearing on page."
Hi, it's me again.

I'm working on an online portfolio that uses your Chalk Theme and have made my `index.html ` to only include posts with the tag `project`. I did this by making my `index.html` include the following:

[code]

All other posts I want to be shown on a page which I named `journal.html`. On this page, I pretty much left all the same content that your `index.html` includes.

However,

[2016-12-19 03:46] ZhuZeus commented on #23
localhost just fine..this the issue from github<Your site is having problems building: The tag asset_path on line 1 in _posts/2016-10-15-chalk-sample-post-with-all-elements.md is not a recognized Liquid tag. For more information>, thanks a lot

[2016-12-19 09:09] nielsenramon commented on #23
@ZhuZeus GitHub can't work with jekyll-assets. That's why there is a deploy script which pushes the output to gh-pages branch. I advise you to change the branch name from master to something else to avoid these emails. Or rename your repo so it does not contain: github.io

[2016-12-19 09:29] nielsenramon commented on #27
It does if you run `bin/setup` https://github.com/nielsenramon/chalk/blob/master/bin/setup#L16

[2016-12-19 09:29] #27 closed

[2016-12-19 09:31] nielsenramon commented on #26
@xjsXjtu did you name your files in Chinese? I never worked with GBK so I have no idea tbh :)

[2016-12-19 09:32] nielsenramon commented on #28
I only provide support for my own theme. I can't fix everyone's custom themes ;-)
Looks like you are bending the tags to much in there.

[2016-12-19 09:32] #28 closed

[2016-12-20 01:24] ZhuZeus commented on #23
@nielsenramon got it ,thank you very much

[2016-12-20 06:54] xjsXjtu commented on #26
No, I just clone and run the setup script. Then Jekyll serve .  Maybe there
was sth wrong with my computer configuration or Jekyll installation. I have
tried another Jekyll template, it seems work until now. Thanks a lot any
way:)

On Dec 19, 2016 17:31, "Nielsen Ramon" <notifications@github.com> wrote:

[2017-01-03 09:54] sandys opened #32 "jekyll 3.3.1 support ?"
hi,
the new jekyll 3.3 (and forward) uses gem based themes. are you planning to support this or will you only support older jekyll versions ?

[2017-01-03 10:02] nielsenramon commented on #32
@sandys I support the latest version of Jekyll. I just cannot use the gem based theme as Jekyll does not support certain plugins I use like `jekyll-assets` + the deployment scripts. I always keep an eye out to when jekyll-assets would be supported tho.

Any specific reason why you would want the gem based theme?

[2017-01-03 12:47] sandys commented on #32
well we are using the newer jekyll versions and the recommended way is to
use the themes

On Jan 3, 2017 15:32, "Nielsen Ramon" <notifications@github.com> wrote:

[2017-01-03 12:53] nielsenramon commented on #32
@sandys As I said the way Chalk is built it is not possible to use the Jekyll theming gem. You can always use the latest version of Jekyll regardless of that.

[2017-01-03 12:53] #32 closed

[2017-01-03 19:30] Overload119 opened #33 "File to import not found or unreadable"
[code]

Getting this error.
I believe it's because it's looking in `bower` but `bower install` uses `bower_components` to install the components.

[2017-01-04 08:18] nielsenramon commented on #33
@Overload119 `.bowerrc` is assigning the folder. Please check if this file is included in your root path: https://github.com/nielsenramon/chalk/blob/master/.bowerrc

When running `bin/setup` everything should be installed fine.

[2017-01-04 08:18] #33 closed

[2017-01-04 16:35] hubertron opened #34 "Error on bundle exec jekyll serve"
Following these steps:

1. Clone Repo
2. `bin/setup`
3. `bundle exec jekyll serve`

This error manifests:
`Error in _assets/stylesheets/light.scss:50 File to import not found or unreadable: ../bower/fluidbox/src/css/_fluidbox.scss.`

Ruby Version: `Ruby 2.2.5p319 (2016-04-26 revision 54774) [x86_64-darwin15]`
NPM Version: `3.10.3`

Issue also experience by others here: [http://stackoverflow.com/qu

[2017-01-04 16:51] hubertron commented on #34
I was able to fix this by running this in a new directory. It appears that using an existing jekyll project will cause this error do  to a difference in .rbenv settings from a basic `jekyll new` vs this repo's `bin/setup`

It might be worth mentioning in your readme that this should be only used for new projects and not added to existing ones that your listings of Chalk in "theme" websites would s

[2017-01-04 16:51] #34 closed

[2017-01-04 17:08] nielsenramon commented on #34
@hubertron The only reason why it failed was because you were missing bower I think? Or that you did not include the `.bowerrc` file?

Thanks for the nice words!

[2017-01-04 21:14] hubertron commented on #34
It's certainly possible I was missing it, but wouldn't have that come through from a `.gitclone` and `bundle install` take care of installing anything else I needed?

[2017-01-06 08:12] leegaox commented on #26
I have the same problem!

[2017-01-06 16:34] jkish2 opened #36 "Replace site name with image instead."
Would like the ability to substitute the site name in `navigation.html` with an image instead. I was able to accomplish this by using the updated code below, but I'm not sure if there's a more elegant solution available.

[code]

[2017-01-06 16:58] jkish2 commented on #36
I also did something similar on the `404.html` page as well.

[code]

[2017-01-09 01:38] Crypto-Nik opened #37 "I have problem with Chalk, please help"
I had a mistake:
Your site is having problems building: The tag asset_path on line 1 in _posts / 2016-10-15-chalk-sample-post-with-all-elements.md is not a recognized Liquid tag.

[2017-01-09 07:31] nielsenramon commented on #37
@Crypto-Nik  GitHub can't work with jekyll-assets. That's why there is a deploy script which pushes the output to gh-pages branch. I advise you to change the branch name from master to something else to avoid these emails. Or rename your repo so it does not contain: github.io

[2017-01-09 07:31] #37 closed

[2017-01-12 20:36] cknadler opened #38 "Issues running bin/setup with Ruby 2.4.0"
Looks like there are some issues running `bin/setup` with newer versions of ruby, specifically `2.4.0`. I get the following errors when executing `bundle install`.

[code]

It seems that json 1.8.3 isn't compatible with ruby 2.4.0. Some information in the following issue.

https://github.com/flori/json/issues/253

There are some workarounds, but it would be great to determine which gem has the har

[2017-01-12 20:42] cknadler commented on #38
Ok, figured out a solution. Adding the following to the top of your project Gemfile solves the incompatibility for now.

[code]

I'll make up a pull request with that change. Leaving this open as the above fix is a hack and may not work long term. Would be great to figure out where the dependency is coming from and see if it can be updated or find an alternative.

[2017-01-14 21:23] Overload119 opened #42 "Ionicons not appearing (404)"
Live example:

http://amirsharif.com/

Repo:

https://github.com/Overload119/amirsharif.com

The fonts folder is not being included in the assets paths.

[2017-01-14 21:31] Overload119 commented on #42
I added this line to `/Users/amirsharif/Projects/amirsharif.com/_config.yml`

[code]

[2017-01-14 21:31] #42 closed

[2017-01-16 09:11] #38 closed

[2017-01-22 13:49] soocki opened #43 "Results != Expectations"
Beautiful theme, thanks a lot!

Quick question, is there any obvious reason why deployement builds a website that looks like this:

https://soocki.github.io/shacki-pl/

??

I have simply cloned your repository, setup'd and deployed the site. I was expecting similar results to your template but didn't get it. Heve been trying this for a while, but not getting very far, my knowledge is quite limited

[2017-01-22 19:49] soocki commented on #43
Never mind.. ^^

[2017-01-22 19:49] #43 closed

[2017-01-25 03:28] aboutyy opened #44 "install Error in Windows Platform missing files"
details of the errors are listed below：
PS D:\MyWebsite\blog1> bower install
bower fluidbox#~2.0.4           ENOGIT git is not installed or not in the PATH
PS D:\MyWebsite\blog1> bundle exec jekyll serve
Configuration file: D:/MyWebsite/blog1/_config.yml
Configuration file: D:/MyWebsite/blog1/_config.yml
            Source: D:/MyWebsite/blog1
       Destination: D:/MyWebsite/blog1/_site
 Increment

[2017-01-25 04:41] aboutyy commented on #26
I have the same problem but I do not name my file path in Chinese. It locates the post.html file. What are other options for the problem?

[2017-01-25 09:18] nielsenramon commented on #26
@aboutyy can you share me your project please?

[2017-01-25 09:19] nielsenramon commented on #44
@aboutyy Did you install npm and bower? Can you check if bower installed your files correctly under _assets?

[2017-01-25 09:24] aboutyy commented on #44
@nielsenramon yes, it seems that i did not install the files correctly before, the problem is solved now. thanks

[2017-01-25 09:24] #44 closed

[2017-01-25 09:36] aboutyy commented on #26
I just cloned Chalk on my PC and did not change anything of it.
My platform is Win10. The error information are similar to the poster here and when I changed post.html to another one that works fine for me in other project, it is ok and the default.html file presents a similar problem.
so I was wondering if it is the cross-platform or encoding problem?

[2017-01-25 09:59] nielsenramon commented on #26
@aboutyy This could be a Windows thing. @leegaox @xjsXjtu did you guys also use Windows?

[2017-02-06 01:39] albertoalegria opened #45 "Change head icon"
I'm trying to change the head icon. I want to put a custom icon instead of the letter C icon. Please understand that my html knowledges are pretty basic.

[2017-02-06 01:44] migueldemoura commented on #45
I'm assuming you meant the favicon. That can be modified by changing these two files:
[`/favicon.ico`](https://github.com/nielsenramon/chalk/blob/master/favicon.ico)
[`/_assets/images/apple-touch-icon.png`](https://github.com/nielsenramon/chalk/blob/master/_assets/images/apple-touch-icon.png)

Please note the image dimensions.

[2017-02-06 08:40] nielsenramon commented on #45
@migueldemoura Is correct, make sure your favicon is 32x32 and apple-touch-icon.png is 180x180.

[2017-02-06 08:40] #45 closed

[2017-02-06 14:17] albertoalegria commented on #45
It's fixed, thank you

[2017-02-07 13:13] sammcj opened #46 "Feature: Post Previews"
Howdy, Thanks for building this pretty little theme :)

It would be neat if you could set a number of lines for Chalk to preview of a post.

In the past I've used the [excerpt_separator](http://wesleytsai.io/2015/07/06/create-post-previews-for-jekyll-blogs/) on my posts with other themes.

Do you think this would that be something you could easily add in into the theme?

Thanks,

[2017-02-07 14:40] nielsenramon commented on #46
@sammcj Can you show a visual example of this please?

[2017-02-07 17:33] migueldemoura commented on #46
Maybe this:

[https://wesleytsai.io/](https://wesleytsai.io/)

[2017-02-08 09:11] nielsenramon commented on #46
@sammcj @migueldemoura I don't see what the difference is with the current description?

[2017-02-08 19:26] migueldemoura commented on #46
Don't you have to manually specify such "preview" with Chalk?

[2017-02-10 14:17] xjsXjtu commented on #26
@nielsenramon ,yes. I am using Windows 7.

[2017-02-12 10:00] ArchimboldiMao opened #48 "In feed.xml, why site.url always is http://localhost:4000?"
I followed the Usage to Installation & Development.
1. Set url: http://domain.com in _config.yml,
2. Run bundle exec jekyll serve -w
3. Use chrome open http://127.0.0.1:4000/feed.xml
I think the link should be <link>http://domain.com/</link>, but it always is <link>http://localhost:4000</link>, whatever is set any value to url: in _config.yml.

[2017-02-12 11:03] nielsenramon commented on #48
@ArchimboldiMao In the production version it will be your url. Example: http://chalk.nielsenramon.com/feed.xml

[2017-02-12 11:03] #48 closed

[2017-02-13 00:55] ArchimboldiMao commented on #48
Thanks for your guide.
Now I know why and how to do, and I should run this: JEKYLL_ENV=production bundle exec jekyll serve

[2017-02-13 03:54] krishpop commented on #10
Hi @nielsenramon. I'm not sure if this is a recent change, but as of now, it seems that Github does not allow deploying site from the gh-pages pages branch for users and orgs, and has only allowed the gh-pages option to remain for project pages. Do you know of a way around this?

For reference:
https://help.github.com/articles/user-organization-and-project-pages/

[2017-02-13 07:33] nielsenramon commented on #10
@krishpop Don't name your repo xxx.github.io ;-)

[2017-02-14 14:13] nielsenramon commented on #46
@sammcj I prefer to manually enter the preview so you have more control over it.

[2017-02-14 14:13] #46 closed

[2017-02-20 16:55] techmexdev opened #51 "Nokogiri versioning"
"An error occurred while installing nokogiri (1.7.0.1), and Bundler cannot
continue.
Make sure that `gem install nokogiri -v '1.7.0.1'` succeeds before bundling."

I am having problems installing the nokogiri gem. When I run 'bundle install', the gemfile tries to fetch gem nokogiri -v '1.7.0.1'.  I've tried to use only 'nokogiri', without versioning, in the gemfile/gemfile.lock, to not explicitly

[2017-02-20 17:06] nielsenramon commented on #51
@techmexdev Try running `bundle update` and see if that fixes it?

[2017-02-20 17:13] techmexdev commented on #51
Mmmh... still the same error @nielsenramon

[2017-02-20 17:26] migueldemoura commented on #51
@techmexdev can you run `gem install nokogiri -v '1.7.0.1'` and give us the output?

[2017-02-20 19:00] techmexdev commented on #51
Building native extensions.  This could take a while...
ERROR:  Error installing nokogiri:
	ERROR: Failed to build gem native extension.

    current directory: /Users/rodolforodriguez/.rvm/gems/ruby-2.4.0/gems/nokogiri-1.7.0.1/ext/nokogiri
/Users/rodolforodriguez/.rvm/rubies/ruby-2.4.0/bin/ruby -r ./siteconf20170220-50823-r1n3kh.rb extconf.rb
checking if the C compiler accepts ... yes
checking if

[2017-02-21 15:26] Elitack opened #52 "Cannot remote display the website"
I follow the order of the document. And I'v finished that I can see the website locally by executing
[code]
But at the last step, when I exec the deploy file, it shows

[code]

And I check the deploy file, I found that the file is aimed to operate the gh-pages branch.
But I just wanna display the website on my [homepage](elitack.github.io) so I just need the master branch is enough. So I just simp

[2017-02-21 15:49] techmexdev commented on #51
Found the solution here: http://stackoverflow.com/questions/33996523/error-installing-nokogiri-failed-to-build-gem-native-extension-libiconv-is-mi

[2017-02-21 15:49] #51 closed

[2017-02-21 17:44] KST123ABC opened #53 "unable to apply dark theme on github pages"
including `blog_theme: dark` in config, no results on github pages after build. Still light theme.

Built on windows 10.

First issue so lmk if I need to supply more.

[2017-02-21 17:46] nistara opened #54 "A subtler quote?"
Thanks for the great template. I ran into your site while searching for a clean, minimal, and tasteful layout. With this in mind, do you think it's possible to make the quote sections subtler? Something like this: https://zenhabits.net/powerful-stillness/

[2017-02-22 02:35] Elitack commented on #52
ps, I got many error emails from the github, all mails show like it cannot recognize the liquid tag:
+ The tag `asset_path` on line 1 in `_posts/2016-10-15-chalk-sample-post-with-all-elements.md` is not a recognized Liquid tag.

+ A file was included in `_posts/2016-10-15-chalk-sample-post-with-all-elements.md` that is a symlink or does not exist in your `_includes` directory.

+ The tag `styleshe

[2017-02-22 02:48] Elitack commented on #52
Ah..I try a method that builds locally and include the results in the Pages repository..Then it worked. I guess the model you produce got some unrecognized tags so that we have to build it locally...And then submit the after-build files.

[2017-02-22 02:49] #52 closed

[2017-02-22 05:43] nistara commented on #54
I was able to modify it in the _base.scss file. I'm slowly learning the elements!

[2017-02-22 05:43] #54 closed

[2017-02-22 09:00] nielsenramon commented on #52
@Elitack indeed you should be working on another branch than master and make sure you deploy the output files to the master branch. I need to add some documentation for people who use a github.io repo as that works differently.

[2017-02-22 09:01] nielsenramon commented on #54
@nistara Glad to hear!

[2017-02-22 09:02] nielsenramon commented on #53
@KST123ABC do you get the dark theme locally? Remember that chalk does not support standard Jekyll hosting as it is using unsupported plugins.

[2017-02-22 11:00] huyanhh opened #55 "The tag `stylesheet` on line 10 in `blog/404.html` is not a recognized Liquid tag."
I am trying to use the blog as a subdirectory to my normal website. I have the structure like this:

![screen shot 2017-02-22 at 2 56 47](https://cloud.githubusercontent.com/assets/15709918/23208637/a0487a7a-f8aa-11e6-83e9-d51f3b0d5fe0.png)

and my _config.yml is as follows:

[code]

Am I not setting any paths correctly? I keep getting emailed that error from Github and I'm not sure what to change

[2017-02-22 14:58] KST123ABC commented on #53
@nielsenramon thanks for responding.
I may be doing something wrong as this is my first time using a Jekyll theme that is unsupported.

Is there a different repo for the dark theme?
I cloned this repo, edited the config, and then attempted to generate the site.

Thanks for your help! :)

[2017-02-22 16:36] nielsenramon commented on #55
Chalk does not support default jekyll hosting on GitHub Pages, it requires the project to actually be build and deployed to a branch on github. Stylesheet not being a recognised tag is about jekyll-assets gem that is missing probably?

[2017-02-22 16:38] nielsenramon commented on #53
@KST123ABC Did you execute the installation instructions which is stated in the readme of Chalk? And did you manage to run your project locally?

[2017-02-22 20:04] nistara commented on #55
@nielsenramon , I got a similar error when I tried to deploy it as a page:
`The tag `asset_path` on line 1 in `_posts/2016-10-15-chalk-sample-post-with-all-elements.md` is not a recognized Liquid tag.`

So Chalk can be deployed as a jekyll site hosted off github (e.g. username.github.io), but not as a page (username.github.io/chalk). Did I understand correct? Thank you!

[2017-02-22 20:15] huyanhh commented on #55
![screen shot 2017-02-22 at 12 14 30](https://cloud.githubusercontent.com/assets/15709918/23230370/86fdbc12-f8f8-11e6-9c3a-e86c7b0f438d.png)

@nielsenramon All of the jekyll-assets gems have been installed, is this what you're talking about?

[2017-02-22 21:08] nielsenramon commented on #55
@nistara You can but you need to put the source files on another branch: for example: `website`.
Deploy your changes to that branch and run `bin/deploy` then you can use a github.io page.

@huyanhh where did you get that error? Via mail from github?

[2017-02-22 21:11] huyanhh commented on #55
@nielsenramon I found out what the error was. I was trying to push it manually to a gh-pages branch, but it worked once I used bin/deploy on a separate repository.

[2017-02-22 21:26] #55 closed

[2017-02-23 08:56] nielsenramon opened #57 "Porting Chalk to default Jekyll project or not?"
I am getting a lot of issues with people not understanding how Chalk works (deploying). I could do 2 things:

1. Ditch jekyll-assets and work with a default Jekyll installation. This would mean the following:
- Have to get autoprefixer from somewhere else
- No proper asset pipeline
- No support for unsupported github pages jekyll plugins
- Ability to host the Jekyll site on the master branch inste

[2017-02-23 22:39] huyanhh commented on #57
Deploying Chalk took me a few hours mostly because I couldn't understand the instructions on the README. My case was a little different and this is only the second time I've been working with Jekyll so I expected everything to work as all the default Jekyll installations. Perhaps option 2 with maybe an FAQ or something more expansive on the original so users who don't really understand anything ca

[2017-02-24 13:00] KST123ABC commented on #53
@nielsenramon I have been the README. I receive an error now when I run the Jekyll bundle server command

![jekbun](https://cloud.githubusercontent.com/assets/5109500/23304330/39400d48-fa67-11e6-8ba1-25925bb1261f.PNG)

[2017-02-24 13:09] nielsenramon commented on #53
@KST123ABC That error is about a file you are referencing and jekyll can't find it.

[2017-02-24 13:12] KST123ABC commented on #53
@nielsenramon hello. I do not believe I added any references to other files. I haven't modified anything in this pull.

[2017-02-24 13:12] KST123ABC commented on #53
I may try it on my Linux machine rather than windows... will keep you posted.

[2017-02-24 14:17] nielsenramon commented on #53
Weird: icon-github.html is not a file in Chalk. :-p

[2017-02-28 19:01] migueldemoura opened #59 "Use svg icons instead of ionicons font"
Pretty self-explanatory.
We not only use a tiny subset of that font, but there are advantages to using svg over font for icons.

Some further insight into this [here](https://css-tricks.com/icon-fonts-vs-svg/).

Ionicons in svg: https://github.com/driftyco/ionicons/tree/master/src

[2017-03-03 17:10] Xiaoming-Zhao opened #63 "Pagination not show with high probability"
Hi there, sorry to interrupt you. I really love chalk, a charming theme. However, I met a problem when using it and hope someone could help me.

I just copy your example articles several times to test pagination. I refresh the page and test a lot of times. I find there is **large probability** that the pagination foot does not show. For example:

This is correct pagination:
<img width="664" alt="s

[2017-03-04 01:17] migueldemoura commented on #63
Does that happen with chalk:master?

[2017-03-04 03:16] Xiaoming-Zhao commented on #63
@migueldemoura  Hi, Miguel de Moura, I think so. Actually, I use VPS instead of GitHub pages. So I only have master branch.

[2017-03-04 05:54] AurevoirXavier opened #64 "I can't find the 'bower' folder"
When I run './setup' or './deploy'.

It says "bower ENOENT        No bower.json present".

I'm a newcomer to this. Could you help me?             : )

[2017-03-04 05:55] AurevoirXavier commented on #64
Should I remove '_assets/stylesheets/light.scss:50' ?

[2017-03-04 08:01] AurevoirXavier commented on #64
Oh I know.

I must run 'bower install first'.

[2017-03-04 08:01] #64 closed

[2017-03-04 10:13] nielsenramon commented on #63
@Xiaoming-Zhao It's actually working perfectly for me. Any console/terminal errors? What browser?

[2017-03-05 02:38] migueldemoura commented on #63
@Xiaoming-Zhao, if you have it online, please give us a link to help troubleshooting.

[2017-03-05 02:40] migueldemoura commented on #57
Static file hosting is extremely cheap or even free. Better docs are the way to go, imo.

[2017-03-05 05:34] Xiaoming-Zhao commented on #63
@nielsenramon Hi, sorry for the delay. The following is the console, I think everything works fine.

<img width="1098" alt="screen shot 2017-03-04 at 23 33 49" src="https://cloud.githubusercontent.com/assets/9215584/23584844/20ef82fa-0133-11e7-9009-dfd42556cc12.png">

[2017-03-05 11:41] nielsenramon commented on #63
Hmm nothing I can do with that @Xiaoming-Zhao got any console errors in browser?
How many posts do you have and on how did you configure your `_config.yml` and more specifically the `paginate` variable?

[2017-03-06 08:04] joshuabezaleel opened #65 "Post's picture thumbnail is showing another post's picture"
Hi Nielsen,
First of all I would like to say thank you for the awesome theme! In fact I am using it right now for my site [here](http://joshuabezaleel.com).

I encountered a problem today. I try to share my [post](http://joshuabezaleel.com/posts/a-quick-survey-on-fomo) to Facebook and I already included a picture at the top of the post using Unsplash API but the picture that shown at the Facebook'

[2017-03-06 08:49] nielsenramon commented on #65
@joshuabezaleel Did you fill in the `og_image` tag in the post header with your own? Note og-images need correct sizes!

[2017-03-07 08:29] joshuabezaleel opened #66 "Social media link is not accessible"
Hi Nielsen, it's me again. So sorry for another issue.
This time I encountered a problem when I try to add the link to my social media account.
at the config.yml I have put it only "github.com/joshuabezaleel" and it also print only "github.com/joshuabezaleel" when I try to print {{site.social.github}}.
But when I try to build it with Jekyll sudenly there the url of my web (joshuabezaleel.com) conc

[2017-03-07 09:44] joshuabezaleel commented on #65
Am I unable to put an external link for the og_ image?
Let's say `og_image: "https://source.unsplash.com/Q7wDdmgCBFg/1600x900"`

[2017-03-07 10:05] nielsenramon commented on #65
@joshuabezaleel Not at the moment, you need to include it in your project. I'll re-open the issue and see if I find the time to support that.

[2017-03-08 09:54] 95uxin opened #67 "Click the Page Title Only Show 3 Posts"
Anybody have this problem?

Click the title sometimes, but only show 3 posts. Can not see the footer.
Sometimes it works, sometimes it dose not.

[2017-03-10 16:48] noahbishop commented on #67
That happened to me as well, I can't figure out how to replicate it though.

[2017-03-10 16:49] noahbishop opened #68 "Add Scroll to Top Arrow"

[2017-03-10 19:26] nielsenramon commented on #67
@95uxin @noahbishop I think I found the issue, please see if it is fixed on latest master branch.

[2017-03-10 19:26] #67 closed

[2017-03-11 05:16] 95uxin commented on #67
@nielsenramon
I tried your newest master version.
**Better, but still have this problem!**
I sent you a video email.
QuickScrollDown may cause this issue.
QuickScrollDown uses Frequently to find the post you want.

[2017-03-11 06:49] noahbishop commented on #67
I still have this issue. The remaining posts are there but their opacity is set to 0 which may confirm it is indeed a QuickScrollDown issue.

[2017-03-11 06:57] noahbishop commented on #67
On further testing, I think this issue is not with Chalk. I have been able to reproduce the issue: It stems from me reusing the same page after restarting Jekyll.

I run `Jekyll serve`

Head over to `127.0.0.1:4000`

Interrupt the `Jekyll serve` command and run it again

Click on the title (on the page generated by the former command) and be met with 2 posts only.

So yeah, for me this was more of

[2017-03-11 07:58] 95uxin commented on #67
@noahbishop
I have  found a way to avoid this issue and uses on [my website](https://wuyu.xin).
Force Reload the page can help. (you can  click the **reload page button** on your browser, have a test)
The **link of the Page Title** I replaced from `/` to `http://mywebsite`.
But my website uses `https`. I redirect the http to https. This can cause a force reload.

[2017-03-12 05:15] AurevoirXavier opened #69 "How can I change the width of code block?"
When I place a code block in post.

It look like this:

![image](https://cloud.githubusercontent.com/assets/16152305/23829190/aabc35c6-0725-11e7-8013-47af13f9d83b.png)

I don't want to see this scroll bar.

[2017-03-13 17:25] nielsenramon commented on #69
@AurevoirXavier The scrollbar is there to show overflowing code. You could make Chalk grid bigger in the _variables.scss file.

[2017-03-13 17:25] #69 closed

[2017-03-14 16:51] TheGrandmother opened #70 "Unkown tag 'asset_path' when trying to deploy locally."
I keep getting the following error when i try to deploy jekyll locally.

[code]

I have been fiddling around with this a lot and I haven't been able to solve it and google doesn't help either.

I have managed to get it up and running on github using the Rakefile provided by http://ixti.net/software/2013/01/28/using-jekyll-plugins-on-github-pages.html

I would really like to be able to deploy local

[2017-03-15 12:18] foodgy opened #71 "Add Responsive Table CSS"
Hey!

It would be nice to have build-in responsive table styles for both light and dark themes.

P.S.: Thx for awesome Jekyll theme 👍

[2017-03-15 13:18] gradywoodruff commented on #70
I'm having a similar problem, on my github page settings i have an error that says

.

[2017-03-15 13:23] TheGrandmother commented on #70
I can also say that this problem has appeared on two machines neither of which has undergone any major fiddling around with `gem` or Jekyll.

[2017-03-15 13:43] nielsenramon commented on #70
@TheGrandmother @gradywoodruff Looks like your jekyll-assets gem is not setup properly. Note that you cannot host Chalk from your master branch, you HAVE to use the bin/deploy command (make sure to commit + push changes first). In the settings you can set the host branch to gh-pages as that will be the one Chalk pushes to.

This is all documented btw ;-)

[2017-03-15 13:49] TheGrandmother commented on #70
I'm almost 100% certain that i have tried that but ill give it another attempt :p

I realized that there were some inconsitencies in my hack to make the deploy script work for another branch. But I'll see if i can get it working

[2017-03-15 16:20] TheGrandmother commented on #70
@nielsenramon
I have tried running that. But the error remains. I think the problem stemms from me having f**** things up with using bower with root privelges.
When one uses the `bin/setup` script I needed root permissions to use `npm`.
But ill try to hack around it.

[2017-03-15 16:34] nielsenramon commented on #70
Oh yeah, sudo is the root of all evil for sure :D

[2017-03-15 16:36] gradywoodruff commented on #70
my problem was that i was using the wrong ruby version, sorry about that

[2017-03-15 17:01] #70 closed

[2017-03-19 11:53] yuessir opened #73 "Not support MD with Chinese character?"
I have a markdown file with the Chinese content , but Chalk can  not render the correct format..

OS: Win 10  x64  English version

[2017-03-19 14:52] #73 closed

[2017-03-19 14:54] yuessir commented on #73
I found the problem that is the BOM marker caused the  markdown not rendered.

[2017-03-20 13:00] leegaox commented on #26
I am using Windows 10

2017-02-10 22:17 GMT+08:00 xjs.xjtu <notifications@github.com>:

[2017-03-25 21:57] WendyBeth commented on #57
Hi,

I struggled to deploy Chalk, and ended up having to rearrange how I was doing things in a way that's not mentioned in your README.

I have my repository name 'WendyBeth.github.io'. In order to deploy to your user page, you *have* to use the master branch. I struggled with this quite a bit, because running the deploy script forced the deploy to gh-pages. I could change my repo's name and then

[2017-04-02 13:33] danbrakeley opened #74 "Fonts not being included in _site/assets"
I've forked `nielsenramon/chalk`, and am having problems with the fonts not ending up in the resulting `_site` folder when I serve or build.

If I sync to master, run `bundle exec jekyll serve`, and I get `Failed to load resource: the server responded with a status of 404 (Not Found)` for both `ionicons.woff` and `ionicons.ttf`.

Looking in the `_site/assets` folder, I see a complete lack of any f

[2017-04-03 17:54] betogrun opened #75 "i18n support?"
Hi!

Is there any support for i18n?

Thanks for the amazing theme!

[2017-04-10 18:48] KST123ABC commented on #53
Hey @nielsenramon sorry it took me so long to get back to this. I have been quite busy.
Was never able to get it to build the site files on Windows using Chocolatey but I have had success on Linux.

I am quite new to Jekyll so excuse me if I botch the terminology here.

Attached I have included the successfully hosted site.
When viewing the site on any platform besides for Windows Internet Explore

[2017-04-11 13:57] nielsenramon commented on #75
@betogrun You could try adding this gem to it: https://github.com/Anthony-Gaudino/jekyll-multiple-languages-plugin :-)

[2017-04-11 13:57] #75 closed

[2017-04-11 13:58] nielsenramon commented on #74
@danbrakeley Any other issues? Is jekyll-assets properly installed? What version of jekyll-assets you running? Made any changes?

[2017-04-19 02:36] zhangqushun commented on #71
1. enter _assets/styleshesheets/
2. edit _base.scss
3. add code :
table, td, th {
    border: 1px solid $base-border-color;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    padding: 10px;
}
4. bundle exec jekyll server

[2017-04-21 02:10] renanvalentin commented on #74
I've created a PR to fix this: https://github.com/nielsenramon/chalk/pull/78

[2017-04-21 02:28] renanvalentin commented on #74
I think it's a problem with jekyll-assets' `cache` https://github.com/jekyll/jekyll-assets/issues/371

[2017-04-25 09:24] nielsenramon commented on #74
@danbrakeley Please test latest commit on master. Thanks @renanvalentin for the fix!

[2017-04-25 09:25] #74 closed

[2017-04-25 09:26] #63 closed

[2017-04-25 09:26] nielsenramon commented on #63
Closed because no reply, and unable to replicate issue.

[2017-04-25 09:28] nielsenramon opened #80 "Add different favicon for dark theme"

[2017-04-25 09:32] nielsenramon commented on #26
@leegaox @xjsXjtu @aboutyy Can any of you try to remove this line: https://github.com/nielsenramon/chalk/blob/master/_includes/head.html#L2 and see if you still have the same issue please?

[2017-04-25 09:33] nielsenramon commented on #53
@KST123ABC Should be fixed now with latest version on master!

[2017-04-25 09:33] #53 closed

[2017-04-25 09:36] nielsenramon opened #81 "Post url's to your Chalk website here!"
Hey everyone,

I would love to see your websites using Chalk and feature them on the website!
Please post them below :-)

And thanks for using/supporting Chalk.

[2017-04-25 16:15] KST123ABC commented on #53
![2017-04-25-115834_2048x1152_scrot](https://cloud.githubusercontent.com/assets/5109500/25395373/dd753a0c-29ae-11e7-9b51-f0c067427eb8.png)

@nielsenramon thanks for the update! Just pulled from master and tried but the icons don't seem to be working. I then downloaded the .woff and .ttf from the source repo https://github.com/driftyco/ionicons

put those in _site/assets/ionicons/* and now the icon

[2017-04-30 22:54] EQuimper opened #82 "Weird error in the console"
Firts thing good job with this template I loved it. My blog https://equimper.me get some weird error in the console. Got some problem with ScrollReveal not required etc.
<img width="1552" alt="screen shot 2017-04-30 at 6 53 50 pm" src="https://cloud.githubusercontent.com/assets/15819498/25568690/6709bc86-2dd6-11e7-99dd-8df3d635eeb6.png">
<img width="1552" alt="screen shot 2017-04-30 at 6 53 42 pm"

[2017-05-01 07:18] ChalkPE commented on #81
Great work, thanks! :heart_eyes:

[2017-05-04 04:39] Xiaoming-Zhao commented on #63
@nielsenramon Hi there, sorry for so late reply. I think my problem is the same as #67.

Actually, when I see this problem, I need to reload the page several times before it returns to normal, which is the same method as the user used in #67.

[2017-05-04 07:16] nielsenramon commented on #63
@Xiaoming-Zhao Alright, I will have a look at scrollreveal then :-)

[2017-05-16 14:44] migueldemoura commented on #59
@nielsenramon, do you want me to use css or import the .svg directly?

[code]
[code]

or
[code]

[2017-05-16 15:29] nielsenramon commented on #59
I prefer importing them directly :-)

[2017-05-25 08:42] aboutyy commented on #26
I removed https://github.com/nielsenramon/chalk/blob/master/_includes/head.html#L2 but I still got the same problem. @nielsenramon

[2017-06-06 07:26] nielsenramon commented on #82
@EQuimper Looks like your javascript dependencies aren't installed :-) We now use Yarn, so go ahead and pull the new version!

[2017-06-06 07:26] #82 closed

[2017-06-06 12:40] migueldemoura commented on #65
This is the issue:
`<meta property="og:image" content="{{ site.url }}{% if page.og_image %}{{ page.og_image | asset_path }}{% else %}{% asset_path og-image.jpg %}{% endif %}">`

I'll submit a PR.

[2017-06-06 16:40] migueldemoura commented on #63
@nielsenramon, I'm having this issue as well. The library is really buggy

[2017-06-06 21:17] nielsenramon commented on #63
@migueldemoura Thinking about using https://github.com/michalsnik/aos any experience with that anyone?

[2017-06-07 12:27] migueldemoura commented on #63
Did this happen before turbolinks? Hard to believe such popular lib would be buggy on its most basic use-case. AOS seems nice, maybe it'll solve the issue :roll_eyes:

[2017-06-07 12:37] nielsenramon commented on #63
@migueldemoura We could test this with the old setup (jQuery)? I also saw that scrollreveal is going commercial so it won't be free anymore.

[2017-06-07 13:06] #65 closed

[2017-06-07 20:25] TommyWhite commented on #48
I wasted over 2 evenings to found out that NGINX reverse proxy is not responsible for redirection to localhost.
So, `JEKYLL_ENV-production jekyll server`
Thanks, man

[2017-06-08 00:33] migueldemoura commented on #48
@nielsenramon, should probably add this to the docs - it isn't obvious.

[2017-06-09 21:54] migueldemoura commented on #80
Invert the colors? :smile:

[2017-06-12 00:10] migueldemoura commented on #63
I'm testing right now. By the way, where did you see that "scrollreveal is going commercial"?

[2017-06-12 00:56] migueldemoura commented on #81
Had to put it offline, but it'll be here again: [migueldemoura.com](https://migueldemoura.com) :smiley:

[2017-06-12 07:37] nielsenramon commented on #63
@migueldemoura Check their readme in the development branch: https://github.com/jlmakes/scrollreveal/tree/development

[2017-06-13 23:25] migueldemoura commented on #26
@aboutyy, can you try adding `encoding: utf-8` to /_config.yml to see if it helps?
If not, run `ruby -e 'puts Encoding::list.join("\n")'` and `ruby -v` and put here the output of both.

[2017-06-14 00:34] migueldemoura opened #92 "About page still accessible when about_enabled is false"
Accessing /about when that page is disabled still outputs the about.html file since it isn't excluded from the build process.
A quick fix is making these changes to the `_config.yml` file:

[code]

To disable the about page one needs to set `about_enabled` to false and also uncomment the `exclude: &about about.html line`. The two lines can be merged together to be easier for the user, but you lose

[2017-06-14 07:45] nielsenramon commented on #92
@migueldemoura The about page should always be there as it is accessible through the footer. about_enabled is only about the icon in the top navigation :-)

[2017-06-14 07:45] #92 closed

[2017-06-14 11:51] migueldemoura commented on #92
Got it :) . What do you think about changing `about_enabled` to `about_icon_enabled` then?

[2017-06-14 12:31] nielsenramon commented on #92
@migueldemoura Perfect for me :D

[2017-06-21 19:04] migueldemoura opened #93 "Deprecated _config.yml option"
[Redacted]

[2017-06-21 19:04] migueldemoura opened #94 "Deprecated _config.yml option"
The `gems` option is being replaced with `plugins` in jekyll 3.5.0

Ref: https://jekyllrb.com/news/2017/06/15/jekyll-3-5-0-released/

[2017-06-21 19:05] #93 closed

[2017-06-21 19:48] migueldemoura opened #95 "Retinajs path can't be found"
The retinajs guys removed bower.json from the repo and released a new version that breaks our setup.
They [have reversed that](https://github.com/strues/retinajs/commit/98d2df11b1603ed66b454ef74d4f4f870400cbc9) but the changes haven't been pushed yet.

To address this, one needs to makes this change to `_assets/javascripts/vendor.js`:

[code]

to

[code]

[2017-06-21 19:53] migueldemoura opened #96 "Invalid liquid syntax"
On `_layouts/post.html`, line 40:

`| truncate '110'` should be `| truncate: 110`

[2017-06-26 08:55] #96 closed

[2017-06-26 09:16] nielsenramon commented on #95
Fixed!

[2017-06-26 09:16] #95 closed

[2017-06-26 09:16] nielsenramon commented on #94
Fixed! Thanks for the help :-)

[2017-06-26 09:16] #94 closed

[2017-06-26 15:24] misterjules opened #97 "Can't Generate Theme Locally"
I was getting this error in Terminal

`Liquid Exception: undefined method "line_number" for "":String in /_layouts/post.html
jekyll 3.5.0 | Error:  undefined method "line_number" for "":String`

I found the error in `/_includes/head.html`

it was with these two lines

`{% assign thumb_image = page.thumb_image | asset_path | absolute_url %}
  {% endif %}
{% else %}
  {% assign thumb_image = og-imag

[2017-06-26 15:55] nielsenramon commented on #97
@misterjules

Can you confirm that you have a og-image.jpg? Or that you entered a og image in the post?

Also please use the latest version of Chalk from the master branch please.

I haven't tested the script with GitLab at all. It's on my todo list tho!

[2017-06-26 19:20] migueldemoura commented on #97
Likely exploding due to that field not being defined. Should probably add a `is_empty` check.

[2017-06-26 20:00] misterjules commented on #97
@nielsenramon

I downloaded the latest version. Same thing still happens.

FYI `_assets/yarn` is missing in the latest build which is looking for those assets when served

[2017-06-26 20:02] migueldemoura commented on #97
@misterjules, `_assets/yarn` is generated when running `./bin/setup`

[2017-06-26 20:08] misterjules commented on #97
@migueldemoura

Right. Forgot about that. I just added the `_assets/yarn` folder from a previous version into the latest build when running locally

[2017-06-27 08:04] nielsenramon commented on #97
@misterjules So it's working now? :-)

[2017-06-27 14:38] misterjules commented on #97
@nielsenramon yes. Only If I remove `|` from those 2 lines in my first post. When @migueldemoura said I should add an `is_empty` check; I don't know what that means or how to even do it. So, I just left it how I did it.

[2017-06-27 14:39] migueldemoura commented on #97
@misterjules, can you put here the header of your post (lines between `-----`)?

[2017-06-27 14:50] misterjules commented on #97
@migueldemoura this is the code from `_/includes/head.html`

[code]

[2017-06-27 14:53] migueldemoura commented on #97
@misterjules, I meant the content of `_/posts/your-post.md`. Or did this error occur without touching any file?

[2017-06-27 15:02] misterjules commented on #97
The only things I touched were `_config.yml` and a few of the stylesheets. I left everything else alone.

[2017-06-27 15:11] migueldemoura commented on #97
Can you upload your project somewhere so I can reproduce it?

[2017-06-27 15:23] misterjules commented on #97
https://gitlab.com/mrjules/chalked5

[2017-06-27 15:41] migueldemoura commented on #97
@misterjules, cloned, ran `./bin/setup` and `bundle exec jekyll serve` and didn't get that error. Can you provide steps to get that error?

[2017-06-27 15:50] misterjules commented on #97
replace this code

`{% if page.thumb_image %}
  {% if page.thumb_image contains :// %}
    {% assign thumb_image = page.thumb_image %}
  {% else %}
    {% assign thumb_image = page.thumb_image asset_path absolute_url %}
  {% endif %}
{% else %}
  {% assign thumb_image = og-image.jpg asset_path absolute_url %}
{% endif %}`

in `_includes/head.html` with

`{% if page.thumb_image %}
  {% if page.thum

[2017-06-27 16:54] migueldemoura commented on #97
I got this error: `Could not find the asset 'og-image.jpg'`, caused by the removal of `_assets/og-image.jpg`. If you want a default thumb_image, replace that file with the one you like. Otherwise, replace those lines with:
[code]

[2017-06-27 19:54] misterjules commented on #97
Thanks @migueldemoura . I have another issue if I can add it here or open up another issue? Posts seem to be broken on Gitlab Pages. Everything looks fine on https://mrjules.gitlab.io/chalked5 until you click on a link. I added `baseurl: /chalked5` to the `_config.yml` . Should I be adding `{{ site.baseurl }}` next to liquid tags with `{{ post.url }}` ?

[2017-06-27 20:24] migueldemoura commented on #97
Open a new issue, I'm guessing that @nielsenramon didn't take that use-case into account.

[2017-06-27 20:32] misterjules commented on #97
ok, will do.

[2017-06-27 20:32] #97 closed

[2017-06-27 20:32] misterjules opened #98 "Posts/Pages Broken on Gitlab Pages"
Posts and (1) page seem to be broken on Gitlab Pages. Everything looks fine on https://mrjules.gitlab.io/chalked5 until you click on a link. I added `baseurl: /chalked5` to the `_config.yml` . Should I be adding `{{ site.baseurl }}` next to liquid tags with `{{ post.url }}` ?

**UPDATE**

Ran htmlproofer and it found 17 errors; excluding files from `/_site/`

  *  internally linking to /about, whi

[2017-06-27 20:47] migueldemoura commented on #97
@nielsenramon, might be a good idea to add a check for `og-image.jpg`

[2017-06-30 00:52] migueldemoura commented on #98
I believe your observation is correct - maybe submit a PR? As for the htmlproofer issues, they are expected and can be safely ignored - associations are generated afterwards afaik.

[2017-06-30 13:25] misterjules commented on #98
I think it has something to do with this line in `index.html`

    <a href="{{ post.url | relative_url }}" title="{{ post.title }}"></a>

when I add `{{ post }}` in this line

`<a href="{{ post.url | relative_url }}{{ post }}" title="{{ post.title }}">`

the posts *at least* show on the `index.html`, even though it makes the site look broken. When `{{ post }}` is removed the main page looks normal

[2017-07-04 01:00] misterjules commented on #98
Solved my issue. The problem was with my permalink in `_config.yml`.

I had changed it from its original `permalink: posts/:slug` to `permalink: /:year/:month/:slug`. If someone didn't point out the `.html` in the help I received on Stackoverflow, I would have never thought to check my `permalink` in `_config.yml`. All I did was replace `:slug` with `:title.html` and the blog posts open.

[2017-07-04 01:00] #98 closed

[2017-07-12 12:31] madcatsu opened #99 "Enhancement: Load JS asynchronously for PageSpeed improvements"
See Filament Group's loadCSS library for further reference:

- [loadCSS repo](https://github.com/filamentgroup/loadCSS)
- [NPM module](https://www.npmjs.com/package/fg-loadcss) which could be included with Yarn

Current Google PageSpeed insights recommends loading JS asynchronously to stop page blocking while loading script resources. This could be achieved with the `asynch` option but browser sup

[2017-07-12 12:47] madcatsu opened #100 "Enhancement: Move critical CSS styles for above the fold into inline stylesheet"
Consider using tools like [Critical](https://github.com/addyosmani/critical) or [Grunt-critical](https://github.com/bezoerb/grunt-critical) to review and resolve PageSpeed Insights penalties for blocking CSS which defers rendering of important page elements until the page has completely sourced from the origin server.

[2017-07-12 22:09] migueldemoura commented on #100
I'm a little torn on this one. Chalk's css size is negligible (3.812kB gzipped), and those optimizations are rather tricky. The proposed change would only reduce a couple kB of css to above the fold, and it would have to be made with extreme care, because UX is degraded when seeing moving/changing objects, being preferable to wait a few more ms. Plus, please take into account that PageSpeed recomm

[2017-07-12 22:25] migueldemoura commented on #99
Some js can't be easily loaded in an async fashion, as some of it has dependencies, like jQuery. How do you propose doing it? As the js is all appended to the end of the html, the `defer` option also doesn't make sense.

Finally, can you explain a little further how loadCSS would help? I skimmed through the README and didn't understand how it would benefit Chalk. Afaik, preloading isn't useful as

[2017-07-12 22:27] migueldemoura opened #101 "Scroll appear doesn't degrade nicely without js"
Page is all blank and elements don't appear since the js doesn't run, meaning that  the class of such elements isn't modified.

To fix it, one needs to add the css to the plugin itself. `</noscript>` tags are no good as some popular blockers like uMatrix don't process them as they use CSP.

I'll submit a PR as soon as I get a chance.

[2017-07-13 03:57] madcatsu commented on #99
@migueldemoura would depend on how much of the site skeleton is loaded but perhaps concatenating all the JS resources with Uglify through the jekyll-asset pipeline might assist.

I'm not sure if the asset pipeline will allow ordering of how all the JS is combined though, the other option would be to concatenate the JS before passing it through Uglify. I think that gets messy though as Gulp or Grun

[2017-07-13 04:13] madcatsu commented on #100
@migueldemoura duly noted on the PageSpeed recommendations. I think one of the biggest killers to speed is loading webfonts and the ionicons font. I see #59 aims to address some of this :)

[2017-07-13 08:00] nielsenramon commented on #101
@migueldemoura This appear on scroll thing is killing me haha. Looking forward to your PR :-p

[2017-07-13 08:03] nielsenramon commented on #100
@madcatsu I also don't want to over-engineer a simple theme for Jekyll. This is a theme for everyone and I would like to keep it open and accessible. I agree on the icon font tho. That needs to go :-) Closing this one. Thanks for the feedback!

[2017-07-13 08:03] #100 closed

[2017-07-13 13:48] migueldemoura commented on #59
Small update to this: https://github.com/nielsenramon/chalk/commit/24206151fce134c1788e2aef90879dfa61d46aeb vastly reduces css, though still depending on the font files.

[2017-07-14 02:55] madcatsu commented on #59
@migueldemoura have you thought about compiling all the design specific SVG files for Ionicons into a single SVG and then providing cross browser support of these with the [svgxuse](https://yarnpkg.com/en/package/svgxuse) Yarn package?

[2017-07-14 10:49] migueldemoura commented on #59
@madcatsu, I stopped working on this after that commit, but feel free to make a contribution :)
As for the cross-browser support, that package seems interesting and may even be useful for the other svgs.

[2017-07-14 23:03] madcatsu commented on #59
I'll submit a PR once I've finished testing :)

[2017-07-18 08:35] madcatsu commented on #81
Happy with the final results - yes it's somewhat tailored to my liking :)

[https://the.dabblers.work](https://the.dabblers.work) - Voila!

Customizations include:

- Replacing CSS fonts with SVG
- Sass and HTML tweaks for the navigation bar (using the SVG icons)
- Inclusion of svgxuse via Yarn package to support SVG icon selection via symbol identifier
- Inclusion of inner post navigation to prev

[2017-07-19 12:49] migueldemoura commented on #81
@madcatsu, nice, especially the svg icons :+1: By the way, change the horizontal breaking point, right now the social icons aren't properly positioned when resizing to some dimensions like 570px.

[2017-07-19 14:03] madcatsu commented on #81
@migueldemoura nice pickup. Had to increase the breakpoint for extra-small to 640px, my fault for all the extra icons!!  :D

[2017-07-19 14:12] madcatsu commented on #59
Before I fork and submit a PR, @nielsenramon & @migueldemoura do you have a suggestion on what icons could be bundled into the SVG? Currently the SVG on my own site has the following icons with file size coming to 24KB :

- Right arrow (pagination and article links)
- Left arrow (pagination)
- Twitch
- Stack Overflow
- Bitbucket
- Spotify
- About (sphere with person outline as negative space)
- Me

[2017-07-19 15:10] migueldemoura commented on #59
What about separating the svgs? HTTP/2 kinda solves the multiple requests issue

[2017-07-19 22:12] madcatsu commented on #59
@migueldemoura no problem with implementing in that manner. I just personally preferred the method of using an individual SVG file and a symbol reference in the xlink:href request. Can we come to consensus on suitable icons and then I can put forward some modifications this weekend?

[2017-07-20 06:39] madcatsu commented on #59
PR #102 has been submitted for review

[2017-07-20 11:26] migueldemoura commented on #59
@madcatsu, just pointed that out since I'm guessing most people would only use a couple of those icons :)

[2017-07-20 11:53] migueldemoura commented on #99
The theme works without js, as it is only used to enhance the experience. If you're loading the scripts, the first thing needs to be jQuery, then scroll appear and then everything else.

[2017-07-25 08:04] madcatsu opened #103 "Enhancement: Allow Rouge highlight class to span 100% browser width"
Would like some guidance/assistance on how I can modify the existing SCSS to allow code blocks to span 100% of the browser window width while keeping the contents within the current 650px max-width.

Bonus points for being able to toggle this on or off in the Jekyll config YAML. 👍

[2017-07-25 08:06] madcatsu commented on #99
Closed. Will investigate using WebPack to achieve this.

[2017-07-25 08:06] #99 closed

[2017-08-03 08:15] artemsheludko opened #104 "Your theme is listed in jekyllthemes.ru"
Your theme has been listed on http://jekyllthemes.ru/

[2017-08-03 08:15] #104 closed

[2017-08-15 03:36] avidoggy commented on #81
try-debug-loop and finally `http://bitcat.serveblog.net`
Thanks for GREAT template `Chalk` and `circleci`, `Github Pages`

[2017-08-31 09:34] koansang opened #105 "Deploy success. But no display page."
I'm run `./bin/deploy` and deployed successfully.
But page error when enter the my Github pages.

Error message is :
![image](https://user-images.githubusercontent.com/12390185/29919660-2418d28a-8e85-11e7-8991-76cd5c5d5863.png)

![image](https://user-images.githubusercontent.com/12390185/29920720-b1ae510c-8e89-11e7-8c2c-d61295169b81.png)

What's problem?

[2017-08-31 11:23] koansang commented on #105
I think beacause don't set base url.
How do I set the base url?

[2017-08-31 11:36] koansang commented on #105
I fixed this issue.

[2017-08-31 17:14] migueldemoura commented on #105
So you just changed https://github.com/nielsenramon/chalk/blob/master/bin/deploy#L19 to account for a custom baseurl? This may be useful for others.

[2017-09-01 01:00] koansang commented on #105
@migueldemoura yes~!!
For example,  If run `bundle exec jekyll build --baseurl dev` will make default static url is `https://xxxx.github.io/dev`

[2017-09-01 01:03] migueldemoura commented on #105
Did you add the baseurl config to `_config.yml`?

[2017-09-01 01:09] koansang commented on #105
@migueldemoura
No. How get `_config.yml` option in `deploy` file?

[2017-09-01 01:13] migueldemoura commented on #105
Add a line with: `baseurl: dev`, to `_config.yml`.

Source: https://jekyllrb.com/docs/configuration/

[2017-09-01 01:17] koansang commented on #105
@migueldemoura
Thanks a lot~!!

[2017-09-01 01:21] migueldemoura commented on #105
Glad that helped!

[2017-09-04 03:46] EmilSayahi commented on #70
I'm using the correct Ruby version, and I'm getting the same issue with line 30 of _includes/head.html.  My line 30 is:
   `<link rel="apple-touch-icon" href="{% asset_path apple-touch-icon.png %}">`
No idea why I'm having this issue.

[2017-09-04 09:44] migueldemoura commented on #70
@EmilSayahi, can you provide your OS, ruby version, installed gems and check if those were installed using root?

[2017-09-05 01:15] alzeih opened #106 "Update http://jekyllthemes.org/themes/chalk/ to match README"
http://jekyllthemes.org/themes/chalk/ doesn't match information provided in the README here.

e.g: it refers to Bower, which has been replaced by Yarn.

https://github.com/mattvh/jekyllthemes/blob/master/_posts/2016-10-31-chalk.markdown

[2017-09-05 07:48] nielsenramon commented on #105
@migueldemoura Thanks for the help! :-) You think we should add something to the readme for this?

[2017-09-05 07:49] #105 closed

[2017-09-05 16:50] migueldemoura commented on #105
@nielsenramon, might be a good idea, seems like a common enough desire among users

[2017-09-05 20:46] EmilSayahi commented on #70
Windows 10 using Git Shell with Ruby 2.4.1, and I have the contents of my Gemfile.lock file below (this is the list of gems, right? I'm pretty new to using them. npm and everything else is something I've never really worked with before) and I'm pretty sure they were installed using root as I ran Git Shell as admin, and there were no warnings or errors when running the setup script. It builds fine

[2017-09-08 02:55] lisanpeng commented on #26
I use Ubuntu and add utf-8 encoding to _config.yml. It doesn't work.
ruby version: 3.1p112 (2016-04-26) [x86_64-linux-gnu]
)'
ASCII-8BIT
UTF-8
US-ASCII
UTF-16BE
UTF-16LE
UTF-32BE
UTF-32LE
UTF-16
UTF-32
UTF8-MAC
EUC-JP
Windows-31J
Big5
Big5-HKSCS
Big5-UAO
CP949
Emacs-Mule
EUC-KR
EUC-TW
GB2312
GB18030
GBK
ISO-8859-1
ISO-8859-2
ISO-8859-3
ISO-8859-4
ISO-8859-5
ISO-8859-6
ISO-8859-7
ISO-8859-8
ISO-885

[2017-09-08 09:37] migueldemoura commented on #26
@lisanpeng, can you provide more info? What version of Ubuntu, and is the error message and stack trace the same?

[2017-09-11 03:20] lisanpeng commented on #26
Ubuntu version: 16.04.2 LTS.
Please see the error message below:
Configuration file: /home/lsp/Documents/chalk-master/_config.yml
            Source: /home/lsp/Documents/chalk-master
       Destination: /home/lsp/Documents/chalk-master/_site
 Incremental build: disabled. Enable with --incremental
      Generating...
Error in _assets/stylesheets/light.scss:50 File to import not found or unreadable:

[2017-09-11 12:13] migueldemoura commented on #26
Did you run `bin/setup`?

[2017-10-13 07:30] sidv1993 opened #108 "404 Page Not Found"
I followed the exact steps mentioned in the README

- Set up everything
- Added a 'dev' branch (not master)
- Ran bin/deploy successfully

But I still see the following message in the settings tab

Your site is having problems building: The tag asset_path on line 1 in _includes/image.html, is not a recognized Liquid tag.

Pls help!

[2017-10-13 08:33] migueldemoura commented on #108
Can you re-run `bin/setup`?

[2017-10-14 16:11] sidv1993 commented on #108
I ran bin/setup and bin/deploy again. I didn't get any errors while doing so, but I still get 404 Page Not Found when I load my page and the same error message in the settings tab. Since mine is a user page, it is directly being sourced from the master branch. Could that be the reason? I am new to Jekyll so any help would be appreciated!

[2017-10-14 16:17] migueldemoura commented on #108
I use another service to host the static files, so I'm not the best person to help you out with this one. @nielsenramon, is more knowledgeable than me on this pattern.

However, on the the README.md there's this paragraph (emphasis mine):

Are you using xxx.github.io? Can you try using another branch with `bin/deploy`?

[2017-10-14 16:20] sidv1993 commented on #108
I am using xxx.github.io. But I have created a new branch (dev) that is separate from my master branch, and am running all the commands in dev. Am I missing something here?

[2017-10-14 20:31] nielsenramon commented on #108
@sidv1993 Can you remove the `master` branch eventually and see if that helps? You could also switch the target branch in the repo settings!

Let me know if that helps.

[2017-10-14 21:04] nielsenramon commented on #59
@madcatsu Big thanks for your help and sorry for the delay!

[2017-10-14 21:04] #59 closed

[2017-10-15 02:42] sidv1993 commented on #108
@nielsenramon I tried that. Didn't work. What do you mean by switching the target branch? I have set my default branch to (dev) and not master.

[2017-10-15 08:43] nielsenramon commented on #108
@sidv1993 Can you set it to the `gh-pages` branch and see if that worked (in the settings)?

[2017-10-15 13:30] migueldemoura commented on #108
@sidv1993, long shot, but did you change the base url?

[2017-10-15 15:54] sidv1993 commented on #108
@nielsenramon I tried that but it didn't work. Infact, when I removed my master branch the settings page indicated that "Github pages isn't set up". So it seems that I need to keep my master branch in there. And the error that I get when doing so is " Your site is having problems building: The tag asset_path on line 1 in _includes/image.html, is not a recognized Liquid tag"

@migueldemoura  I had

[2017-10-15 16:01] migueldemoura commented on #108
@sidv1993, the baseurl option is to change your blog home from` xxx.github.io/` to `xxx.github.io/$baseurl`, and requires an ajustment to the deploy script. Since you removed that option and its "_invalid_" value, could you try and redo the deploy? There's a similar issue here https://github.com/nielsenramon/chalk/issues/108. This may be the reason for the "404", with the other error coming as a r

[2017-10-15 16:13] sidv1993 commented on #108
I tried removing baseurl, commiting & pushing the change, running bin/deploy from my (dev) branch. But didn't work. Here is a screenshot of the issue.
<img width="773" alt="screen shot 2017-10-15 at 11 11 14 am" src="https://user-images.githubusercontent.com/17081489/31586679-c2186a7c-b199-11e7-922e-7da5aeff7fdc.png">
It seems to me that the master branch is required for hosting username.github.pa

[2017-10-15 16:23] sidv1993 commented on #108
Do I have to do something similar with `bower install --allow-root` as mentioned in [https://github.com/nielsenramon/chalk/issues/18](url)

[2017-10-15 16:35] sidv1993 commented on #108
Fixed! I was able to get it to work using @cheny1ran comments in #18 about merging `gh-pages` and the `master branch`. Here is what I did-
- Ran `bin/deploy` on (dev) branch, which created a new `gh-pages` branch
- `git checkout master` and `git merge gh-pages`
- Started up `xxx.github.io` and it showed up.
Thanks, @migueldemoura  and @nielsenramon  for the help!

[2017-10-15 18:31] nielsenramon commented on #108
@sidv1993 Glad you got it working! I really need to come up with a better way of supporting .github.io sites 😃

[2017-10-15 18:31] #108 closed

[2017-10-15 20:44] madcatsu commented on #59
You're welcome!

[2017-10-17 11:10] wyntre commented on #81
https://micah.pegman.online

[2017-10-21 00:19] migueldemoura commented on #103
This is useful, I have a few curl requests that would be better viewed that way.

[2017-10-22 18:12] migueldemoura commented on #71
@nielsenramon, should I make a PR for this?

[2017-10-22 20:13] migueldemoura commented on #106
Shouldn't this be posted to @mattvh's repository?

[2017-10-23 08:06] alzeih commented on #106
The post was created by @nielsenramon (https://github.com/mattvh/jekyllthemes/pull/399) and relates to this project so I think this issue belongs here, but if you think opening an issue on https://github.com/mattvh/jekyllthemes would be more effective please go ahead. A pull request would definitely belong on @mattvh's repository.

[2017-10-23 08:54] nielsenramon commented on #71
@migueldemoura We could add this but I did not style the tables yet. We could make this a new feature (Tables). You think it's used a lot in blogs?

[2017-10-24 15:15] #101 closed

[2017-11-03 01:29] migueldemoura opened #113 "SVGs don't render without svgxuse.js"
Fix: on each `svg > use` declaration, add `xmlns="http://www.w3.org/2000/svg"` to the svg. The svgs could also be abstracted to a include.html.

[2017-11-03 01:31] migueldemoura opened #114 "Replace post inline svgs with the"
Like the navigation, the [post svgs](https://github.com/nielsenramon/chalk/blob/master/_layouts/post.html#L42-L50) should be replaced as well.

[2017-11-03 01:34] migueldemoura commented on #71
@nielsenramon, not crucial, but certainly useful. For example, my blog currently focuses around security disclosures and the event timeline is displayed using a `<table>`.

[2017-11-03 02:13] migueldemoura opened #115 "Invalid twitter share url"
The final twitter url link should be escaped with `uri_escape`:

`<a href="https://twitter.com/home?status={{ twitter-share-text | uri_escape }}" title="Share on Twitter" rel="noreferrer noopener" target="_blank">`

[2017-11-03 03:40] madcatsu commented on #113
Interesting, svgxuse.js is obviously a polyfill for browsers that don't support the `use` declaration. Is this issue trying to cater to users who disable JavaScript in their browser?

[2017-11-03 12:46] migueldemoura commented on #113
Correct. Adding that line on each svg fixes it.

[2017-11-04 02:09] migueldemoura commented on #57
You could use Gulp to achieve something similar to the Jekyll-Assets plugin, @nielsenramon.

[2017-11-04 19:20] ptsurbeleu commented on #57
Folks, I have been working on something alike (haven't published it yet), to be foolproof but make it easier to start with comes at an expense of flexibility (as @nielsenramin mentioned).

It could be an option to maintain two flavors - starter (get started in no time) and expert (can be bent to your will but you need to be familiar with its internals).

Humans aren't good at maintaining in the lo

[2017-11-04 22:36] ptsurbeleu commented on #57
UPD: Looks like I have published that work already. Here: https://rubygems.org/gems/jekyll-theme-chalk

[2017-11-23 19:37] martomi opened #118 "Serving from subdirectory (e.g. /blog)"
I'm trying to run the template under domain of the format www.domain.com/blog

I've configured the url in `_config.yml` appropriately but the template uses relative paths on many places and those point to the root of the domain.

Is there an easy way to fix this (any configuration that I'm missing?) or do I have to change relative paths to absolute paths everywhere?

[2017-11-23 20:25] migueldemoura commented on #118
Could you provide some examples of those paths? Thanks!

[2017-11-23 20:53] martomi commented on #118
All assets for example. The CSS doesn't load because it's linked the following way:

```<link rel="stylesheet" href="/assets/light.css">```

The `/` in front makes it look for the assets folder in the root of the domain. Actually just removing that slash in front should fix the problem. Where do you generate the assets paths? I could take a look and try to fix it.

[2017-11-23 20:57] migueldemoura commented on #118
Have you added `baseurl` in `_config.yml`?

If you have, this could be an issue with `jekyll-assets` not taking into account such parameter. Do you have a repo online to reproduce this?

[2017-11-23 21:08] martomi commented on #118
Adding `baseurl` worked for the assets. However posts link still don't work. Now they include the baseurl with a `/` in front which breaks it. Here's an example post link:

```/https://domain.com/blog/posts/introducing-chalk```

Also after this works I would suggest adding the `baseurl` to the _config.yml as well. Maybe it is apparent for users experienced with Jekyll. However I was totally unawar

[2017-11-23 21:16] martomi commented on #118
Oops my bad. I added the whole url to `baseurl` while I was supposed to only add `/blog` there. I think that fixes it!

Thanks for the help!!

[2017-11-23 21:38] migueldemoura commented on #118
Glad that helped! :smile:

I agree, some users have had the exact same issue.
Feel free to submit a PR adding that parameter and a small comment!

[2017-11-28 10:05] #118 closed

[2017-12-08 11:47] TheGrandmother commented on #81
Here is mine thegrandmother.github.io
Its still a work in progress and hasn't been updated in a while, but at least the theme is epic :)

[2017-12-08 11:56] TheGrandmother opened #120 "JavaScript not reloading properly on redirects"
I am having a problem.

I'm trying to use MathJax (which is awesome) in some of my posts.

It works if i go directly to the URL of the post. But if I go to the post from the contents table on the main page Mathjax does not load and i have to do a manual refresh to get it to load.

I have created a file called `_includes/mathjax_support` like this:
[code]

And i have modified the `posts.html` file

[2017-12-08 14:50] migueldemoura commented on #120
Jekyll generates static files, so I'd suggest disabling all JS from chalk and try again. Let me know how it goes :)

[2017-12-09 11:33] TheGrandmother commented on #120
Yhea I know that Jekyll generates static files and that is a large part of my confusion :p

Removing the lines:
[code]
 of `_includes/javascripts.html`

Solves the problem.

And now I'm suspecting more owls in the swapms. I had another problem with reveal not working after redirects also so i disabled them everywhere. And as i look into `_assets/aplication.js` file it seems like that one might als

[2017-12-09 12:02] TheGrandmother commented on #120
Sorry, I was being an idiot as usual ^-^

I had tried to migrate some stuff from an older broken chalk blog i had and had accidentaly overwritten some stuff.
Now everything is working as it is supposed to do :3

[2017-12-09 12:02] #120 closed

[2017-12-09 14:53] migueldemoura commented on #120
So everything works with the latest chalk version? Glad everything worked out! :D

[2017-12-09 15:18] TheGrandmother commented on #120
Yupp, it's working great now :) Even the font color in the equations seems to be correct which is pretty neat!

[2017-12-14 17:09] nielsenramon opened #121 "Revert #119"
Revert the change here: https://github.com/nielsenramon/chalk/pull/119

[2017-12-23 07:21] leonardo-hammer opened #123 "Liquid Exception: Liquid syntax error (chalk/_includes/image.html line 1): Unknown tag 'asset_path'"
I have done `bin/setup`, all bundle are installed.

This error occur after `bundle exec jekyll serve`.

Here is the full log:

[code]

[2017-12-23 11:33] ivangabriele commented on #123
I think this comes from the new major version of [https://github.com/envygeeks/jekyll-assets](https://github.com/envygeeks/jekyll-assets) that handles assets differently. I'm just a very beginner in Ruby but I was able to fix it by changing this line in **Gemfile** :

    gem "jekyll-assets"

by :

    gem "jekyll-assets", "~> 2.4"

in order to use .

you just have to re-do a `bundle install` afte

[2017-12-23 15:46] migueldemoura commented on #123
@ivangabriele is correct, the version should be pinned. Feel free to send a PR with that.

Related: #119 (jekyll-assets upgrade).

[2017-12-23 15:48] migueldemoura commented on #121
To paraphrase what was said on that PR, we should probably upgrade to jekyll-assets v3, the breaking changes are trivial to fix and are contained here: https://github.com/migueldemoura/migueldemoura.com/commit/6c498dbbe53a2f17db3d34848a6a3716261953cc

[2017-12-23 22:47] nielsenramon commented on #121
@migueldemoura Absolutely, I got some spare time in the coming days, I'll try my best to check off some of the issues.

[2017-12-24 01:10] leonardo-hammer commented on #123
@ivangabriele It's worked! Thanks for help.

[2017-12-24 01:10] #123 closed

[2017-12-24 01:27] nielsenramon commented on #123
@leonardo-hammer @ivangabriele @migueldemoura If you now pull master you won't need to add the fix anymore! Everything is updated to Jekyll Assets 3

[2017-12-24 01:29] nielsenramon commented on #115
@migueldemoura Should be fixed, thanks!

[2017-12-24 01:29] #115 closed

[2017-12-24 01:30] nielsenramon commented on #113
@migueldemoura Added on each svg > use declaration that line, thanks ;-)

[2017-12-24 01:30] #113 closed

[2017-12-24 01:32] nielsenramon opened #125 "Add back possibility to add custom og-images"
We used to be able to use local images or urls for og images. I just haven't found a way to support this with jekyll-assets v3:
[code]

If anyone knows how, let me know!

[2017-12-24 01:35] #125 closed

[2017-12-24 01:36] migueldemoura commented on #121
One could keep the baseurl key empty, along with a comment, as that might help out new users.

[2017-12-24 01:38] migueldemoura commented on #125
This doesn't work?

[code]

https://github.com/migueldemoura/migueldemoura.com/blob/master/_includes/head.html#L1-L9

[2017-12-24 01:54] #121 closed

[2017-12-24 02:09] nielsenramon opened #126 "Putting social media links in the bottom"
Hey!

I would love to know what everyone would think if I put the social media icons in the footer. As we have expanded them to a lot of options I feel they belong more in the bottom.

Like that we can center the logo on top as well making it more mobile friendly.

Let me know what you think!

[2017-12-24 02:10] migueldemoura commented on #126
What about the "about" page? Also in the footer?

[2017-12-24 02:12] nielsenramon commented on #57
Decided not to port this theme to a default Jekyll project. Jekyll-assets comes with too many benefits right now. People are using Chalk because of all the custom stuff we've added anyway!

[2017-12-24 02:12] #57 closed

[2017-12-24 02:13] nielsenramon commented on #126
@migueldemoura Yeah pretty much. I'm thinking about putting it more in the picture actually. But still in the footer. What do you think?

[2017-12-24 02:30] #80 closed

[2017-12-24 03:53] migueldemoura commented on #126
Might look nice, I only asked since I thought it'd lose some spotlight; idk really - you're the designer :p

[2017-12-26 19:56] xRahul commented on #126
check out the social links at the footer- http://rahulja.in
I had the same concern actually, and found this to be the best going forward.

[2017-12-26 20:05] migueldemoura commented on #126
The tag cloud is interesting, should aide navigation and discoverability of content in multi-purpose blogs.

[2017-12-26 20:12] xRahul commented on #126
Yeah, I am going to introduce another collection of projects with different format than posts. There User can showcase their projects in some minimal format. I'm not good with designing part though. Even tag cloud look a bit out of place in the chalk theme.

[2017-12-26 22:13] nielsenramon commented on #126
@xRahul The tag cloud looks cool indeed! I will probably add it actually 👍

@migueldemoura I see what you say about the discoverability. Maybe i'll provide an option.

[2017-12-26 22:13] nielsenramon opened #128 "Add a list of tags"

[2017-12-27 19:43] xRahul commented on #128
If the way I've implemented it makes sense, I can pick this up and do similar thing here. Let me know what you think.

[2017-12-27 19:48] xRahul opened #129 "Adding Structured Data"
Hey guys, I have recently started to dive deep into the SEO aspects of the theme. As I can see, there is no structured data for List of Articles, each article, author etc. Adding some basic structured data can really enhance the website in search results when users are using this theme.
We can use schemas like `BlogPosting`, `Article` etc on the pages and give them a boost in the search.
[Referenc

[2017-12-27 19:52] xRahul opened #130 "Making pages amp compatible"
Having amp ready pages will again be a boon for SEO. As the theme is minimal with non-existent dynamic content, we can make amp version of the pages for higher preference in mobile searches.
I have checked out some packages also like [amp-jekyll](https://github.com/juusaw/amp-jekyll). If we can incorporate them, we should do it.
I really like this theme and want to take it to the next level now! I

[2017-12-27 20:01] xRahul opened #131 "Improving 404 page"
I have checked out the 404 page of this theme and found it totally custom which is implementing everything differently. How about we use the default layout for it too?
This way, 404 page will have a header and a footer with custom content in between. The page looks more approachable, and gives more options to the user instead of just going back to the homepage.
[Reference](http://rahulja.in/werwer

[2017-12-27 20:05] migueldemoura commented on #129
This is a good idea, it is standardized as far as I know and it makes sense. Is there any way of adding the tags without javascript? I used to do this with html tags in the `<head>`, not sure if that's still possible.

[2017-12-27 20:11] xRahul commented on #129
No javascript is required to add it. The json-ld format uses the script tag, but that's just semantics.
Check out the [structured data page by google](https://developers.google.com/search/docs/guides/intro-structured-data)
It is just a properly formatted json wrapped in script tags. It's the default standard nowadays

[2017-12-27 22:01] migueldemoura commented on #129
What I knew before was https://www.w3.org/TR/microdata. Could you place the json in a separate .js file? That way you get better caching and it doesn't interfere with a proper CSP definition.

[2017-12-27 22:25] nielsenramon commented on #129
Feel free to submit a PR!

[2017-12-27 22:37] migueldemoura commented on #130
TL;DR: AMP is a trojan horse, and one ought to be careful before jumping into it with both feet.
Sorry for the long comment :)

AMP's goal was to speed up the horrible multi-MB mobile pages of high traffic publisher/news sites by restricting what they could do and enforcing good practices that weren't being followed. Common, average folks are installing ad and content blockers to fix those painful

[2017-12-28 04:25] xRahul commented on #129
microdata is an older format and search engines are moving towards json-ld format now.

Also, it's structured data for the page, so moving it to a separate file doesn't make sense. We can add it in the <Head> tag just like the og and twitter tags we have. It can also be added in the body.
Also, what do you mean by CSP definition? I'm unfamiliar with the term.

[2017-12-28 04:30] xRahul commented on #130
YEah, it was purely for SEO. I know making a web page amp-lified is an undertaking by itself, but having that lightning symbol in the search results would be quite good. I agree that it should be under config and turned on only if required. As there are many things that do not work in amp pages, user should have the option to choose.
Also, I was joking about PWA. I don't see why someone would need

[2017-12-28 15:38] migueldemoura commented on #129
Yes yes, I read their recommendation.

How would that look like?

[CSP](https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP) "is an added layer of security that helps to detect and mitigate certain types of attacks, including Cross Site Scripting (XSS) and data injection attacks." The correct way of using it would break the inline scripts (w/o nounces), hence my question about moving it to anoth

[2017-12-28 15:39] migueldemoura commented on #128
Really like this one. Good idea, @xRahul :D

[2017-12-30 21:20] xRahul commented on #128
cool.. I'll work on creating the PR then

[2018-01-04 20:11] n3a9 opened #133 "When deploying, CSS isn't linked correctly."
When forking and deploying immediately, the website will look like this. (Can be found [here](https://n3a9.github.io/chalk/).)

<img width="1920" alt="screen shot 2018-01-04 at 12 08 19 pm" src="https://user-images.githubusercontent.com/7104017/34582204-070f923e-f148-11e7-9a44-a68cab4fad17.png">

This is because, in the production index.html, it links to

[https://n3a9.github.io/assets/light-dd81b

[2018-01-04 20:14] migueldemoura commented on #133
Could you post your `_config.yml` here? Specifically the `url` and `baseurl` keys.

[2018-01-04 21:02] n3a9 commented on #133
Ah, found the issue. Was using `url:` instead of `baseurl:` inside `_config.yml`.

I set `baseurl: /chalk` and it worked. Thank you!

[2018-01-04 21:02] #133 closed

[2018-01-04 21:22] migueldemoura commented on #133
Glad it is fixed!

[2018-01-05 23:10] jbpyn opened #135 "Deploy to Netlify"
Total noob here. Chalk is awesone, but I'm trying with out any to deploy it to Netlify. Can anyone point me in the right direction?

[2018-01-06 00:04] migueldemoura commented on #135
Hey! I also have it deployed on Netlify. To do so, follow these steps:

- Clone this repo and customize it
- Remove the line "yarn.lock" from the file `.gitignore` and commit the change
- Run `bin/setup `and commit the change, i.e, the new yarn.lock file
- Go onto Netlify and choose your GitHub cloned repository
- When prompted for the build command, enter `jekyll build`
- When prompted for the pu

[2018-01-07 00:49] jbpyn commented on #135
Thanks so much for the pointers, I would never have known to remove the yarn.lock. Sadly I'm still failing with this. The first problem was  Netlify only supports Ruby versions up to 2.4.2 - the .ruby-version file has 2.4.3  - As I say, I seriously fresh so I just rolled back the version in the .ruby-version  file to 2.4.2 and hoped for the best. (I'm guessing this is probably silly now)

Anyway,

[2018-01-07 01:31] migueldemoura commented on #135
You can change the Ruby Version to `2.3.3`.
But the error you're getting is due to something I forgot mentioning: the `node_modules` dir will be in the root of the project, and not in `_assets/.` There's [no way of fixing this with the current yarn version](https://github.com/yarnpkg/yarn/issues/2782), so we need to change the following as well:

- Replace the line in `_config.yml` that says `_ass

[2018-01-07 07:49] jbpyn commented on #135
Ah, I see. Before I try to deploy again, do I need to remove the /_assets/yarn from the .gitignore file too?

[2018-01-07 14:25] migueldemoura commented on #135
You can remove that line and add in `/node_modules/` to `.gitignore`. You should also remove the `_assets/yarn` dir, as it is useless. Also, swap the following from `bin/setup`:

`yarn install --modules-folder ./_assets/yarn`

to

`yarn install`

This will make sure your local script also uses the `/node_modules` dir, as Netlify.

Make sure to remove the caches and try again. Let me know if that h

[2018-01-11 08:16] jbpyn commented on #135
Thanks for all your help with this, I had to leave it for a few days. Having tried it again, unfortunately I still couldn't get it to work.  The problem occurs when it tries to import a file:

Assets:  File to import not found or unreadable: ../yarn/fluidbox/src/css/_fluidbox.scss.

Looking through the comments I can see that others were having similar trouble using Bower. I have limited knowledge

[2018-01-11 13:45] migueldemoura commented on #135
Found what was missing:

`_assets/stylesheets/light.scss`
`_assets/stylesheets/dark.scss`

change
`@import "../yarn/fluidbox/src/css/_fluidbox.scss";`
to
`@import "../../node_modules/fluidbox/src/css/_fluidbox.scss";`

[2018-01-11 16:01] sgnd opened #136 "jekyll 3.7.0 | Error: Sass Error"
Hi, i try this theme in windows 10 with WSL (Windows Subsystem Linux) with ruby 2.4.2 and jekyll 3.7.0.
This my step to run this theme.
1. after git clone, i run this command `bundle install`
2. `bundle exec jekyll serve` and got error.
[code]
can you help me to fix this?

[2018-01-11 16:02] migueldemoura commented on #136
Hey!
Did you run `bin/setup`?

[2018-01-11 16:48] sgnd commented on #136
Oh ya.. i not run that.
After run `bin/setup` i got error so i run manually.
Thank you thats work

[2018-01-11 18:16] sgnd commented on #136
I have question, how to create pages with this theme? have documentation about it?
in default theme, create pages just create markdown in root directory.

[2018-01-11 20:49] jbpyn commented on #135
You are one of the good ones, I cannot thank you enough. The site is live.

[2018-01-11 20:49] #135 closed

[2018-01-11 21:41] migueldemoura commented on #135
Awesome. Glad I could help!

[2018-01-26 18:08] nhaglind commented on #135
Thanks @migueldemoura this is perfect!

[2018-02-07 16:12] wyntre opened #138 "Refactor Use of 'asset_path' to 'asset'"
'asset_path' is no longer supported in Jekyll.

https://github.com/envygeeks/jekyll-assets/issues/429

[2018-02-08 12:59] wyntre commented on #138
so it looks like they need to have @path added as well so the links don't break.

[2018-02-09 10:23] nielsenramon commented on #138
@wyntre I don't think we use asset_path anymore. Are you using the last version of Chalk?

[2018-02-09 10:24] nielsenramon commented on #136
@sgnd You can add markdown files in the _posts folder and they will show up automatically on your blog!

[2018-02-09 10:24] #136 closed

[2018-02-09 13:10] wyntre commented on #138
@nielsenramon you're right.  i thought i had pulled down the updated version, but my development server was having issues.  I rebuilt from scratch this morning and everything is good.

[2018-02-09 13:10] #138 closed

[2018-02-19 16:26] migueldemoura commented on #135
@nhaglind Happy blogging!

[2018-02-24 08:44] RakunaBlog opened #140 "AMP image"
How can I set up img tag in image.html to amp-img tag

[2018-02-24 23:49] arikalfus opened #141 "Can't RSS subscribe to whole page content"
I would like to cross-post articles on my site using the Chalk theme as well as popular blog platforms. This is supported by RSS subscriptions that contain the entire article content in `<content:encoded>stuff</content:encoded>` sections per `<item>`.

Given the Jinja templating, I imagine that `{{ content }}` variable in `_layouts/post.html`  is what we want in the `content:encoded` sections, but

[2018-02-24 23:51] arikalfus commented on #141
I've currently tried `<content:encoded>{{ page.content | xml_escape }}</content:encoded>` and the same without `xml_escape`. Both break the RSS feed.

[2018-02-25 10:18] dongqui opened #142 "How to deploy"
Hello,

I just started studying programming and I want to keep recording my study contents on wonderful blog like Chalk. Even I'm not sure if it's proper to leave a basic question here. If I'm bothering you, I'm so sorry.. but I need help.

As your description, I pushed gh-pages with publish command. The problem is I don't know what to do next.

It seems like your github pages getting resource fro

[2018-02-27 10:27] nielsenramon commented on #142
@dongqui You don't need to buy a domain to use Chalk if you use xxx.github.io repo name. You will need to use a different branch than master to push you jekyll files to. Then you need to change the bin/deploy contents and replace gh-pages branch to master.

That should do the trick :)

[2018-02-27 10:31] nielsenramon commented on #141
@arikalfus What is the error you are getting? Code looks indeed fine.

[2018-02-27 10:32] nielsenramon commented on #140
@RakunaBlog Probably by just changing this file: https://github.com/nielsenramon/chalk/blob/master/_includes/image.html ?

Or am I missing something?

[2018-02-27 16:43] dongqui commented on #142
Wow, I really appreciate it!!
Thanks to you, It works actually, but I just would like to check it again.
So, after I push updated files to working branch, I'm supposed to do 'bin/deploy' every time I post something and replace gh-pages to master. right??

[2018-02-27 17:26] nielsenramon commented on #142
@dongqui Well you need to push your changes to the working branch first and then run bin/deploy. So there is no need to do anything else.

[2018-02-27 18:20] dongqui commented on #142
oh.. I’m so sorry. It’s the last try. If it doesn’t work, probably I need to study git and Jekyll first by myself.
What I did is
1. Fork(or download) Chalk and rename it to dongqui.github.io
2. Clone it to local
3. Sudo npm run setup
4. Git checkout -b working
5. Git add .
6. Git commit -m ‘’
7. Git push
8. Sudo npm run publish
Then….got this message
Your site is having problems building: Page bui

[2018-02-27 18:24] nielsenramon commented on #142
@dongqui Did you change the bin/deploy script so the branch gh-pages is changed to master?

[2018-02-27 20:04] dongqui commented on #142
Do you mean these part?
# Checkout gh-pages branch.
if [ `git branch | grep gh-master` ]
then
  git branch -D master
fi
git checkout -b master
# Push to gh-pages.
git add -fA
git commit --allow-empty -m "$(git log -1 --pretty=%B) [ci skip]"
git push -f -q origin master

Actually, I feel I'm doing wrong.. in the way above, I have to run deploy script every times .

[2018-02-27 20:12] nielsenramon commented on #142
All `gh-pages` references should be renamed to `master`

[2018-02-27 20:25] dongqui commented on #142
Thank you a lot! I really appreciate it!!

[2018-02-27 20:25] #142 closed

[2018-02-28 02:23] arikalfus commented on #141
I added the `content` line to `rss.xml`:
![image](https://user-images.githubusercontent.com/6969296/36766478-1055fbda-1c04-11e8-90b7-6f277e25b9b6.png)

And get this RSS page:
![image](https://user-images.githubusercontent.com/6969296/36766486-1b80ebbe-1c04-11e8-979c-543eebcc283d.png)

The syntax works so the RSS page loads and displays the post title and description, but I don't get any of the act

[2018-02-28 09:53] nielsenramon commented on #141
@arikalfus I'm not sure that content type is supported? I would change the description to the content one if you'd like.

[2018-02-28 20:32] migueldemoura commented on #140
Yep, that should do it.

[2018-02-28 20:34] migueldemoura opened #144 "GitHub pages theme support"
Hey @nielsenramon, check this out: https://blog.github.com/2017-11-29-use-any-theme-with-github-pages/

Chalk is on the supported themes list, so this should work. Have you tried it yet?

[2018-02-28 22:40] nielsenramon commented on #144
@migueldemoura Where do you see Chalk is on the supported themes list? Not sure what I need to test :D

[2018-02-28 22:40] #140 closed

[2018-02-28 23:59] nielsenramon commented on #144
@migueldemoura Aah I see it now! Hmm I probably have to make a gem for it to work right?

[2018-03-01 05:18] arikalfus commented on #141
I've tried removing the `type` attribute from `content`. This is definitely a Jekyll syntax thing and not specific to Chalk, but it would be nice if this could be included. We should be able to have the excerpt in the `description` and the full content in `content`...

Alternatively, I can give up and just have the `description` be the full article content. @nielsenramon, this can be configured wi

[2018-03-01 05:25] arikalfus commented on #141
Yeah, the `content` field is not supported in RSS 2.0. I was basing that on Medium's RSS feeds, which do use that field. Let me know if you'd like me to submit a PR with the Jinja logic for the `description` described above

[2018-03-01 09:53] nielsenramon commented on #141
@arikalfus No need, I think we'll keep the description in there for now. I feel it's more common. Thanks for the insights!

[2018-03-01 09:53] #141 closed

[2018-03-01 16:09] migueldemoura commented on #144
Honestly, I have no idea. They seem to provide some docs and a link for devs to contact them, though. This could essentially solve this issue: https://github.com/nielsenramon/chalk/issues/57.

[2018-03-02 04:49] ptsurbeleu commented on #144
@nielsenramon and @migueldemoura - folks, where have you found Chalk in the list of officially supported themes for Github Pages?

Yup the gem is there and working, though requires some pre-processing before publishing (compile few things here & there)...

I've already scripted the process but delayed it since then to hook it up with my automation platform - to build, validate and publish new vers

[2018-03-08 21:16] jbpyn opened #146 "Adding Micro.blog to Navigation"
I'm intending to use Chalk for [micro.blog](https://micro.blog/), but it appears adding it to the social links for navigation is a bit beyond me at the moment. Chalk seems like the ideal template for micro.blog users.

I'm happy to muddle through, if somebody can point me in the right direction?

Thanks again

[2018-03-08 21:25] migueldemoura commented on #146
To add a new icon to the navigation:

- Add the social network's svg icon here: https://github.com/nielsenramon/chalk/tree/master/_assets/icons (make sure it follows the same structure as the other ones)
- Add a new entry here: https://github.com/nielsenramon/chalk/tree/master/_includes/navigation.html
(just copy one of the existing ones and modify accordingly)
- Add a new social entry here: https

[2018-03-13 12:42] aneeshmg opened #147 "Minify/uglify js on publish"
Is there a way i can minify/uglify the css and javascript on running ```npm run publish```

[2018-03-14 01:29] jbpyn commented on #146
Thanks again, this is great. It's nice to know I was on the right path. :)

[2018-03-14 01:29] #146 closed

[2018-03-15 14:38] migueldemoura opened #148 "Replace Fluidbox with Zooming"
[Zooming](https://github.com/kingdido999/zooming) doesn't require jQuery and has neat baked-in features like close on scroll and on ESC. I also found it to be more responsive on mobile.

For a complete drop-in replacement, we would need this merged: https://github.com/kingdido999/zooming/pull/61

Demo of how it looks: https://migueldemoura.com/posts/edp-vulnerability-disclosure/ (click the images)

[2018-03-17 20:07] nielsenramon commented on #148
@migueldemoura I like it!

[2018-03-26 15:50] nielsenramon commented on #147
@aneeshmg It should be minified and uglified on publishing with these settings from jekyll-assets by default: https://github.com/envygeeks/jekyll-assets#configuration

You can of course change these settings!

[2018-03-26 15:50] #147 closed

[2018-03-30 17:59] ketozhang opened #149 "Inconsistent code block among different syntax"
While Jekyll do recommend liquid code blocks `{% highlight language %} ... {% endhighlight %}`, I find it these uncommon and inconvenient. I often use Github fenced code blocks with ` ``` code ``` ` instead. On chalk, the liquid code block renders differently than both Github and Kramdown's flavor.

[code]

The margins in these code blocks are too big

![image](https://user-images.githubuserconten

[2018-03-30 19:10] nielsenramon commented on #149
@ketozhang Can you inspect and check if there is an element that is duplicated or that gets extra padding?

[2018-04-09 23:47] #148 closed

[2018-04-22 23:36] nbulischeck opened #154 "Github pages no longer building properly"
I mirrored my old website repo (https://github.com/nbulischeck/website) to a new repo (https://nbulischeck.github.io/project6/) and rebuilt the project. I'm now getting 404 errors when github tries to load the wrong resource.

I tried this with a newer clone of Chalk and still received the same errors (gh-pages trying to pull css/js resources from `name-long_string_of_hex.js`. Any help?

[2018-04-23 10:10] nielsenramon commented on #154
@nbulischeck Did you see the important note here: https://github.com/nielsenramon/chalk/blob/master/README.md#deploy-to-github-pages ?

I think that will solve your issue!

[2018-04-23 11:08] nbulischeck commented on #154
@nielsenramon Yes I've ran that and it hasn't worked recently. I have [successfully built Chalk in the past](https://nbulischeck.io/), so I wouldn't say I'm new at your build system, but I could definitely be doing something wrong.

Testing Repo: https://github.com/nbulischeck/chalk-testing

Steps to reproduce:

[code]

Result: https://nbulischeck.github.io/chalk-testing/

[2018-04-23 12:27] nbulischeck commented on #154
The `light-*.css` file is prevalent, but it's in `/assets/`, not the root directory (see here https://github.com/nbulischeck/chalk-testing/blob/gh-pages/assets/light-66f45f496d3d18e5d0be0a1c4197083526ac584c945d0ef492f7375867f3b191.css).

I re-ran `npm run publish` with the same results.

[2018-04-23 12:30] migueldemoura commented on #154
You're right, didn't notice the dir.

Try setting the baseurl: https://github.com/nbulischeck/chalk-testing/blob/master/_config.yml#L12 :smile:

[2018-04-23 12:38] nbulischeck commented on #154
That was it! What a simple solution :laughing:. I would recommend that be added to the important note. Something along the lines of:

[2018-04-23 12:43] migueldemoura commented on #154
You can probably send in a PR with that notice. Is the website always deployed to a subfolder using GH-Pages? Thought I'd seen others without it.

[2018-04-23 12:46] nbulischeck commented on #154
Only if it's a project site.

If you're building it for a project site, then it will be at <user/organization>.github.io/<repo-name>.

If you're building it for a user or organization site, then it will be at <user/organization>.github.io/

I'll send in a PR shortly.

[2018-04-23 13:05] nielsenramon commented on #154
@migueldemoura I was hesitant to add it as it's basic Jekyll functionality but I'll accept the PR!

Glad it's fixed ;-)

[2018-04-23 13:41] nielsenramon commented on #154
PR merged thanks!

[2018-04-23 13:41] #154 closed

[2018-05-20 19:14] Kcin1993 opened #157 "About disqus_identifier"
In `_config.yml` Line 13 `discus_identifier`.  [Reference](https://github.com/nielsenramon/chalk/blob/master/_config.yml)

Can you make more explain on how to get the `Disqus identifier`? or Where can I find my Disqus identifier in my disqus account?

[2018-05-21 02:31] BTPhysics opened #158 "Ran bin/deploy before pushing or committing changes. Now certain files are deleted and cannot revert changes."
Basically when I finished working on my copy of the site, I ran git init and then run/deploy.

So when I ran run/deploy, I got this error message back: https://pastebin.com/MZPGvstX It also deleted a bunch of my files and I'm so confused as to what happened. I really hope I can at least recover it.

It's quite odd, because bin/deploy only deletes unimportant files such as _sites and .gitignore, et

[2018-05-21 06:13] xRahul commented on #158
I've looked at the logs you've pasted. Actually, you need to have the remote setup correctly and have to commit your changes before trying to deploy them.

You do not have the correct remote origin setup and also you should commit your changes before deploying.

[2018-05-21 10:43] xRahul commented on #157
when you create your account on disqus and log in to your account, you'll find the identifier in your URL.

[2018-05-21 14:37] nielsenramon commented on #158
@BTPhysics Indeed, very important to commit your changes before deploying!

[2018-05-21 14:37] #158 closed

[2018-05-21 14:59] xRahul commented on #130
I have added both PWA and AMP on my fork of Chalk. It looks great so far.
There are many changes that need to be done, but having AMP version of Posts would be good.

[2018-05-21 15:56] xRahul commented on #129
As this is a theme, I did not add too much information in the structured data, but I've made it extensible so that users can add their own.

[2018-05-21 16:08] xRahul commented on #81
Website: https://rahulja.in
Code: https://github.com/xRahul/xRahul.github.io

I have added many addons to the theme here like AMP support, PWA, tag cloud, structured data etc.
This theme is epic and great to build upon!

[2018-05-21 22:54] #131 closed

[2018-05-26 04:10] ketozhang commented on #149
I've forgotten about this since I put the website on hold sorry about that. It's quite obvious something is wrong:

## Actual
[code]

## Expected
[code]

[2018-06-29 10:19] kjs1715 opened #165 "Found error with npm run local"
![image](https://user-images.githubusercontent.com/39690946/42087476-e085cf82-7bc8-11e8-83b0-ed758b64c369.png)
I don t know how to deal with this...

[2018-07-01 13:21] akashjobanputra commented on #165
Tried (chown)-ing the `.jukyll-cache` directory ?
[code]

[2018-07-01 13:48] akashjobanputra opened #166 "npm run local: Key related_posts cannot be set in the drop."
Everything worked fine till `npm run setup`
After solving depreciation warning by adding `gems: [jekyll-paginate]` and changing `plugins` to `plugins_dir`, I got this error, was getting the error even before the changes I did to remove depreciation warning.
[code]
Any suggestions what to do now or where to look ?

[2018-07-01 19:51] akashjobanputra commented on #166
I removed everything and installed again, but this time in a non-sudo way, install dirs were set in home dir and everything worked fine.

[2018-07-01 19:51] #166 closed

[2018-07-03 12:10] kjs1715 commented on #165
@akashjobanputra Ahh now I can run it but I can`t open my github.io...I already changed my repo name with myname.github.io, but it stil not working..

[2018-07-03 12:38] akashjobanputra commented on #165
@kjs1715 Ok, for that you'll need to replace all the instances of word `gh-pages` to `master`, keep in mind that after doing that if you run `npm run publish` it will DELETE your master branch and will create it again to push the built blog on it.
So before that, you can checkout your development code into a new branch (dev, or anything that suits you). And then do the above replacement in `bin/de

[2018-07-04 04:36] nastareater opened #168 "Error on publish"
Have tried it several times but the error when running `npm run publish` always resulted in the same error

[code]

[2018-07-07 18:33] akashjobanputra commented on #149
@nielsenramon highlight class is introducing the extra margin and padding in Github fenced code blocks too.
using {% highlight bash %}:
![highlight](https://user-images.githubusercontent.com/11390605/42413636-f1335a28-8241-11e8-90a8-00d1cd48b755.png)
and using github fenced:
![githubfenced](https://user-images.githubusercontent.com/11390605/42413639-f7860010-8241-11e8-9e73-0647991ecf48.png)
CSS:
[

[2018-07-11 04:27] simzha19 opened #169 "Setup isn't working (Windows 7)"
So I installed Ruby, Ruby Gem, the Ruby Devkit, Jekyll, and Node. Using the Git Bash, I went into the corresponding folder and ran npm run setup and this returned:

[code]

The log file is here:

[code]

As such, I'm having trouble getting the files setup.

[2018-07-14 06:33] undef opened #170 "toggle switch on navigation bar to switch from light to dark and vice versa"

[2018-07-16 19:55] #170 closed

[2018-07-23 11:36] xRahul commented on #169
As I understand, the commands and `bin/setup` file works only in *nix systems. You'll have to modify them for windows.

[2018-07-28 01:22] dldereklee opened #171 "npm run publish succeeds but GitHub Pages does not render site"
Hi there,

I just configured my site and tested it locally using the npm run local command. Everything is working fine until I tried to deploy to GitHub pages using the npm run publish

Here is the output in the Terminal
[code]
But when I go to the deployed page it does not render like it is suppose to.

![image](https://user-images.githubusercontent.com/20377366/43351620-86bfba82-91c9-11e8-9d31-7

[2018-07-29 05:59] skeetcha opened #172 "Unknown tag 'asset' included in /_layouts/post.html"
I tried using this theme for my site, but it doesn't seem to be working. I got the error in an email, and then was confused (because they offered no logs whatsoever). I tried running it locally, and then got the above error. Any ideas?

[2018-08-08 06:29] texcalac opened #174 "How add Medium account?"
I can't add my medium account, I tried several combinations without success. When I add    /@username   my result is   https://medium.com//@username with double slash before @

When I add @username I had a error

Some ideas? thank you and sorry for my english

[2018-08-13 22:30] KOREAN139 commented on #174
Wrap your handle with quotation marks, like `'@username' or "@username"`

[2018-08-14 20:46] #174 closed

[2018-08-14 20:46] #171 closed

[2018-08-24 01:28] nastareater commented on #169
Open the `package.json` file then
change the fourth line `"setup": "bin/setup"` to `"setup": "sh bin/setup"`
Do the same thing on the deploy command

[2018-09-01 13:17] Starsassault opened #178 "Error: couldn't find file 'jquery' with type 'application/javascript'"
When I deploy the forked repository locally the terminal comes across the the following error:

Error:  couldn't find file 'jquery' with type 'application/javascript' in `_posts/2017-12-22-configuring-chalk.md'

[2018-09-05 17:58] saifulmuhajir commented on #178
I have the same problem. Tried npm clean up with `--force`, removing node_modules and reinstall and the result is the same.

Doing this on Arch.

[2018-09-08 21:22] BTPhysics opened #179 "More of a question than an issue: What specific plugins are unsupported by github?"
I'd rather host the repository on github and have it build the page rather than build the page locally and push the /sites folder. What are the plugins that are unsupported by github, and are they essential to Chalk? Are there ways to uninstall it so that I can be able to push the repo rather than the locally generated page?

[2018-09-26 06:13] jmarca commented on #128
I'm working on a related thing...automatically generate the `_my_tags/<tag>.md` files based on the tags in the posts.  Work in progress is [here](https://github.com/jmarca/chalk/tree/feature/automate_tags).

The guts are in this file: https://github.com/jmarca/chalk/blob/feature/automate_tags/bin/tag_scraper, and I linked it into the package.json too.

Started to make a pull request, but I forgot

[2018-10-01 02:02] cesards commented on #178
Same problem here. Is the repo maintained? The owner hasn't answer about this. I'm not a front-end expert and I've been trying to fix the problem with no luck and I'm not able to execute the demo locally: `jekyll serve` keeps giving me that erro:
[code]

[2018-10-04 13:12] Zeta611 commented on #168
I have the same issue. I had a blog working properly before using this theme, but it now raises the following error:
[code]

I believe the cause is the `yarn install v1.10.1` part. I freshly downloaded my blog from GitHub, and it doesn't work now.

[2018-10-05 23:53] arikalfus opened #183 "throttle-debounce-fn seems to be unpublished"
The package `throttle-debounce-fn` fails to install. `npm search throttle-debounce-fn` returns no results, so it looks like this package has been unpublished, or I'm getting very weird network issues.
There are alternative packages that might be able to be used: `debounce-fn` or `throttle-debounce`.

Is anyone else having issues installing packages from scratch?

[code]
No text has been removed be

[2018-10-19 03:35] tobyjamesthomas commented on #183
I'm having the same issue. How can we use `throttle-debounce` instead?

[2018-10-19 17:11] tobyjamesthomas commented on #183
Solved the issue by using Zooming instead.

I had to modify the following files:
[code]

I used the current Chalk repo as reference. Hope this helps!

Good luck!

[2018-11-02 20:51] arikalfus commented on #183
Just coming back to check on this. The latest branch does not throw this error. `throttle-debounce-fn` is still unpublished so looks like a fix was merged in. As I no longer see this problem I am closing this issue.

[2018-11-02 20:51] #183 closed

[2018-11-02 21:56] arikalfus commented on #183
Ah the Zooming functionality was merged in. Thanks, @tobyjamesthomas!

[2018-12-11 15:02] knhash commented on #178
You probably do not have certain yarn modules installed. I had the same issue until I looked into the build script at [bin/setup](https://github.com/nielsenramon/chalk/blob/master/bin/setup). The last couple lines take care of the JS dependency:

`npm install -g yarn`

`yarn install --modules-folder ./_assets/yarn`

[2019-01-20 05:09] designbymichael commented on #48
I agree with @migueldemoura.  Seems to me that this thing should populate the feed.xml with the production URL unless you explicitly define so.

[2019-02-09 03:52] karanchawla opened #189 "Question about New Posts"
Hi,

I'm super new to hosting via Github and web technologies in general. Sorry if this is a stupid question but I'm trying to create new posts by creating a markdown in the directory posts (this right now is basically a copy of one of the sample posts with a different name). However, it doesn't show up when I deploy the website. I notice that the corresponding html for the post isn't generated un

[2019-02-09 04:28] #189 closed

[2019-02-09 22:40] komarovalexander commented on #166
In my case, I had a conflict between Jekyll versions from app-get and installed version using bundler. I've just removed version which I installed using app-get and everything started work fine

[2019-03-23 12:14] maximousblk opened #190 "Add a direct fork method like other themes and templates"
Add an option to directly fork the project using github website and just edit ```_config.yml``` and the blog gets ready

[2019-05-03 00:33] markentingh commented on #144
I'm currently getting an error when using chalk as a github pages theme. I followed Github's instructions, added the theme via _config.yml on my repository, used the following config:

[code]

and I get the following error:

[code]

[2019-05-14 06:45] chrispahm commented on #169
Might want to add to @nastareater's comment that you can't run `sh bin/setup` through the standard Windows `cmd`, but rather the `Git Bash` terminal that is automatically installed together with [`git` for Windows](https://www.atlassian.com/git/tutorials/git-bash) (at least that was my experience)

[2019-06-12 22:01] jameshyen commented on #178
If anyone is still stuck with this, I believe it’s because the `yarn.lock` file is offending. Delete it, and then remove `_assets/yarn`.  Then running the very last command @knhash mentioned, again, should do the trick. In my case I think I originally made use of this repo by mirroring it, and hadn’t received any updates from it in a while. So I set `https://github.com/nielsenramon/chalk.git` as `

[2019-07-17 03:04] albertli3773 commented on #144
@markentingh i'm getting the same error, I can build locally but after executing npm run publish, Github is giving me
`    The tag asset on line 1 in _includes/image.html is not a recognized Liquid tag`

[2019-07-30 13:33] Bhupesh-V commented on #144
Is there a solution for this yet?

[2019-08-22 17:08] skeetcha commented on #172
A while later, I've come back to using this theme and am now getting the same error in /_includes/head.html.

[2019-08-29 15:11] jcsla commented on #172
help me

[2019-08-29 15:11] jcsla commented on #172
I'm suffering

[2019-08-31 13:44] thedan84 opened #192 "Liquid Exception: Couldn't find file '{{ include.icon }}' in /_layouts/post.html"
Help.
For a couple of days I'm getting the error above when I try to run `npm run local` or `npm run publish`. I haven't changed anything about the layouts or includes if that helps.
Thanks in advance.

[2019-09-11 04:35] Artemis1872 opened #194 "Error on npm run local"
I have no idea how to resolve this, here's how it looks like
[code]

[2019-09-11 15:06] Artemis1872 commented on #194
I just figured out that the problem is on `jekyll-assets`. I'm still looking for answer, maybe [this](https://stackoverflow.com/questions/46467798/jekyll-assets-missing-assets-when-building-site)?

[2019-09-13 18:59] artis3n commented on #192
I'm seeing this as well with `npm run local` for `{{ include.path-detail }}`.

[2019-09-14 03:45] kumar1202 commented on #192
` Liquid Exception: Couldn't find file '{{ include.path-detail }}' in C:/chalk/_posts/2017-12-21-chalk-sample-post-with-all-elements.md`
Getting this while running `npm run local`

[2019-09-15 12:13] Artemis1872 commented on #194
That solve the problem. Also there's missing Javascript libraries:
- webfontloader.js
- svgxuse.js
- retina.js
- zooming.min.js
- jquery.js

I don't know anything so I just put them inside `_assets\javascripts` .It worked well.

[2019-09-15 12:13] #194 closed

[2019-09-18 21:50] #165 closed

[2019-09-18 21:50] nielsenramon commented on #192
I had to fix the version of Jekyll to 3.8.x as jekyll-assets doesn't support 4.0 yet :-/ So now it should be solved!

[2019-09-18 21:50] #192 closed

[2019-09-18 21:51] nielsenramon commented on #190
Duplicate from this: https://github.com/nielsenramon/chalk/issues/144

[2019-09-18 21:51] #190 closed

[2019-09-18 21:54] nielsenramon commented on #179
It's definitely something I wish to do when I have the time. Jekyll-assets is not supported for example and it's a big part of this theme.

marking this as closed as there is a discussion about this here: https://github.com/nielsenramon/chalk/issues/144

[2019-09-18 21:54] #179 closed

[2019-09-18 21:55] #178 closed

[2019-09-18 21:56] nielsenramon commented on #172
Did you by any chance not successfully run `npm run setup`?

[2019-09-18 21:59] #168 closed

[2019-09-30 22:50] shen-david commented on #172
for me, npm run publish/ npm run setup succeeds, but github doesn't succeed with building it. For me this manifests as "The tag asset on line 24 in _includes/head.html is not a recognized Liquid tag."

[2019-10-01 00:37] skeetcha commented on #172
Same here, npm runs, but GitHub does not.

[2019-10-01 19:54] nielsenramon commented on #172
@shen-david @skeetcha I recommend reading the readme as we don't support out of the box GitHub Jekyll support!

[2019-10-06 22:20] shen-david commented on #172
Readme isn't particularly helpful in this case - have you experienced something similar to this? Looks like jekyll-assets isn't supported according to https://pages.github.com/versions/, but I am not sure how to debug further, since it was working previously. Any ideas?

[2019-10-22 11:41] sudhiry opened #195 "jekyll 3.8.6 | Error: wrong number of arguments (given 2, expected 1)"
I am getting below error:

[code]

Trace logs:
[code]

Machine: MacOS Catalina.

Can you please help me to solve the issue?

[2019-10-23 23:22] jameshyen commented on #195
Getting a similar error on both my Windows machine, and macOS. It seems very Ruby-specific. Any attempt I make at fixing the issue, either by updating Gems, or elevating permissions, seems to fail to circumvent it. Anyone got an idea on what it might be?

[2019-10-24 00:27] jameshyen commented on #195
So if you enter the `Gemfile` and remove the `3.8.6` requirement from Jekyll, it will install `4.0.0`, which is slightly more verbose about the error. The error will say that `_includes/head.html` fails to locate `og-image.jpg`. This can be remedied by adding `_assets/images` to `sources` in the `_config.yml` file. However, I am now getting an error that there are two incompatible character encodi

[2019-10-26 15:54] haojian opened #196 "Multi-language reading time estimate"
Hi,

The current reading time (e.g., x minutes read) estimate the time by counting only the number of English words. I want to create a pull request to add multi-language support. I located the relevant code is in "index.html".

`{{ post.date | date: "%B %-d, %Y" }} - {% capture words %} {{ post.content | number_of_words }} {% endcapture %} {% unless words contains "-" %} {{ words | plus: 250 | di

[2019-11-05 19:56] cartjonye commented on #195
I run `bundle exec jekyll serve --trace` and i found something that might be a root cause of the problem.

    Traceback (most recent call last):
     ...
         3: from C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/jekyll-assets-3.0.12/lib/jekyll/assets/env.rb:48:in `new'
         2: from C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/jekyll-assets-3.0.12/lib/jekyll/assets/manifest.rb:29:in `initialize'

[2019-11-05 21:59] jameshyen commented on #195
@cartjonye confirmed, thank you. The above fix is working for me.

[2019-11-07 02:21] vphong commented on #144
I've spent a lot of time getting chalk to work with GitHub Pages, and finally got it to work. For anyone who's looking for information on this, here's what I did.

The issue is `jekyll-assets` - a plugin not supported by GitHub Pages out of the box. You need to use a service to deploy your page if you're using unsupported plugins. I fiddled with CircleCI as suggested by the README but TravisCI end

[2019-11-22 06:29] Jesonwoo commented on #168
@Zeta611 Hello, I have the same problem as you. Have you found the reason？

[2019-11-22 09:52] Zeta611 commented on #168
@Jesonwoo No, I just moved on and used a different theme.

[2019-12-18 22:54] a-w11 opened #198 "Setup not working on MacOS"
How to resolve?

`sysninja:chalk sysninja$ npm run local

Configuration file: /Users/sysninja/Dropbox/blog-wnuk/chalk/_config.yml
            Source: /Users/sysninja/Dropbox/blog-wnuk/chalk
       Destination: /Users/sysninja/Dropbox/blog-wnuk/chalk/_site
 Incremental build: disabled. Enable with --incremental
      Generating...
jekyll 3.8.6 | Error:  wrong number of arguments (given 2, expected

[2019-12-21 19:42] gsaslis commented on #198
this looks like a duplicate of #195

@a-w11 please try the solution proposed there, it worked for me ;)

[2019-12-27 22:32] #195 closed

[2019-12-27 22:32] #198 closed

[2020-01-18 23:03] sharduul opened #200 "Disable Google Analytics in Dev Mode"
My Google analytics run on localhost too. That mess up my data.
Is there a flag or some setting that I can able to only run the analytics script in production mode?

[2020-01-21 17:15] maximousblk commented on #144
What does `jekyll-assets` do in this theme? This is the best theme I found on GitHub and the bottleneck is a plug-in. So, the question is what does it do and are there any alternatives?

[2020-02-21 02:14] panthonies opened #201 ".pdf files don't generate as assets"
I'm trying to link a pdf file to a post, but when I place my file in the _assets folder, they are not generated in /_site/assets/. PNG and JPG files work fine.

I replicated the issue on a brand new download of Chalk.

Screenshot of config.yml settings:
![Screenshot of config.yml settings](https://user-images.githubusercontent.com/10646927/74998036-9fd0b600-5425-11ea-824b-260eb0d2c2fb.png)

Screen

[2020-02-21 02:32] panthonies commented on #201
Figured out a workaround - I had to place the PDFs in a folder outside of the _assets folder in order for them show up in _site.

Closing issue.

[2020-02-21 02:32] #201 closed, assigned to nobody

[2020-04-06 03:57] rodrigojuarez commented on #168
@Zeta611 can you recommend something similar in functionality?

[2020-04-08 14:03] Zeta611 commented on #168
@rodrigojuarez I am happy with [TeXt](https://github.com/kitian616/jekyll-TeXt-theme) theme

[2020-04-08 14:18] rodrigojuarez commented on #168
Thanks @Zeta611!

[2020-06-29 03:59] JunliXiao opened #205 "Failed to publish correctly / Stylesheets ... etc missing"
Hi there,
I am quite a newbie into GitHub and web development.
I would be very thankful for your patiently looking into my questions...

I am just learning to deploy static websites on GitHub Pages.
I have no problem deploying with Jekyll and supported themes or pure HTML, from local client pushing to my GitHub repo.
But for this theme - chalk, I am not sure if I use it correctly.
My approach is p

[2020-07-11 23:08] enzoftware commented on #189
Hi, same issue here. @karanchawla how you solve this?

[2020-07-16 06:35] ortonbabb commented on #205
Hi, I'm not sure if you've figured out the situation yet, but the gh-pages branch will only have the compiled site files. These are equivalent to the files that are found in _site from the master branch (compiled also when you do **npm run local**). If you switch back to master you will find all the original files.

I also had issues with publishing using the **npm run publish** method. It would b

[2020-07-16 19:06] Fumenoid opened #206 "Unable to configure scss"
Alright so i was trying to configure scss _variables, but idk why it breaks the complete theme

here i tried changing a grid variables value
[code]
i get some error similar to this tried on jekyll build --trace stuff but can't figure it out
Thanks

[2020-08-05 04:33] flamendless opened #207 "YouTube handle issue"
Hi, YouTube handle in `_config.yml` should respect if the handle is in the format `channel/xxxxx`.

The current behavior is that it always prepend `/user/` so for YouTube channels with `channel` will not work.

[2020-08-05 05:15] flamendless commented on #81
Here is [mine](https://github.com/flamendless/flamendless.github.io)

[2020-08-05 05:20] flamendless opened #208 "Error on `npm run publish`"
Ive made my changes in a `dev` branch, then i ran `npm run publish` there. But it always result to this error:

[code]

[2020-10-30 00:37] gammacray commented on #146
Couple years later, I'm having the same issues. I've followed @migueldemoura 's instructions (and I was doing this before I came here looking for advice) and I can get the link to show up in the header, but the icon is blank. I've named the icon, I've pointed the nav.html and config.yml at it, etc. I'm having a hard time understanding what I'm doing wrong.

For reference, I've taken an existing en

[2020-10-31 01:11] gammacray opened #209 "Can someone ELI5 adding svg icon (and associated link) into header-nav?"
I've got the correct entries in config.yml and navigation.html - but no matter what I've tried as far as importing my own svg icon - name.svg into assets/icons - it won't show up on the rendered site page. The link itself shows up no problem but where the icon is supposed to be is just blank. I have no permissions issues nor does npm/jekyll print any errors when I publish the site (nor run locally

[2020-11-04 21:26] gammacray commented on #209
Okay so I've got a little progress but I can't figure out why the viewport attribute isn't working. See attached comparison of the 'about' svg working as expected but the 'tags' icon I'm trying to load isn't scaling properly, even though it's referenced.

The 'tags' icon svg I'm trying to use has the correct viewport 0 0 16 16, and I've tried to issue height/width attributes as well and they have

[2020-11-28 20:49] virendrasinghrp opened #210 "htmlproofer 3.17.2 | Error: HTML-Proofer found 167 failures!"
Hi @nielsenramon ,

I'm getting these errors from **Html-proofer**. No idea how to resolve them. Would be a great help if this gets resolved.

Please take a look into the following log: _https://travis-ci.org/github/virendrasinghrp/chalk/builds/746481720_

I tried this fix(_https://stackoverflow.com/questions/44815075/internal-linking-to-posts-does-not-exist-jekyll_) but it's not working.

[2020-11-29 21:13] jpanneton opened #211 "Jekyll server not updating and crashing on exit (Windows)"
Whenever I start the server with 'npm run local', there is no way to exit it cleanly. Ctrl-C doesn't work in the standard Windows terminal and in Git Bash it makes the whole console freeze. In both case, I need to force close them and the execution exits with code 1. Also, it seems like the server doesn't see any file updates. I have tried with --force_polling option, to no avail. Sometimes it wil

[2020-11-29 21:29] jpanneton commented on #211
I did not investigate much yet, but with a debugger it seems like the 'npm run local' command is generating multiple exceptions in nodejs. I'm using the following launch.json file in vscode in case someone would like to try (be sure the Caught Exceptions checkbox is checked too in the bottom Breakpoints section before running):

[code]

[2021-01-16 09:33] NETLIFYHOSTINGAHMD opened #213 "[error] on sudo npm run local"
`> chalk@ local /home/ahmed/chalk

Configuration file: /home/ahmed/chalk/_config.yml
            Source: /home/ahmed/chalk
       Destination: /home/ahmed/chalk/_site
 Incremental build: disabled. Enable with --incremental
      Generating...
/usr/lib/ruby/gems/2.7.0/gems/jekyll-3.8.6/lib/jekyll/convertible.rb:41: warning: Using the last argument as keyword parameters is deprecated
/usr/lib/ruby/g

[2021-03-03 02:50] jakewilliami opened #214 "Error deploying docs (imcompatible character encodings)"
After `serve`-ing the website locally and it working, I pushed to my GitHub, and it errored:
[code]

So then I added a hard constraint on `jekyll-assets` in the `Gemfile` [as per solution here](https://github.com/envygeeks/jekyll-assets/issues/342#issuecomment-360633472), but now I am getting this error when trying to deploy:
[code]

I also had to change line 11 in `bin/deploy` from
[code]
to
[cod

[2021-03-03 03:16] jakewilliami commented on #214
FYI, putting [`encoding: utf-8`](https://stackoverflow.com/a/14690811/12069968) in `_config.yml` does not fix this issue, nor does [changing the line endings](https://github.com/nielsenramon/chalk/issues/195#issuecomment-545690289).

The file even seems to be a regular file:
[code]

[2021-03-21 07:15] SuperBruceJia opened #215 "(MacOS Big Sur) - Error: Could not find or load main class install"
Hi bro,

Thanks a lot for your great work. I really appreciate it.

When I try to execute the command `sudo npm run setup`, there is an error as follows:

[code]

And the log is shown below:

[code]

Can u help me with this issue?

Thanks in advance.

Shuyue

[2021-03-21 08:10] SuperBruceJia commented on #215
Hi bro,

FYI, it's working on my Ubuntu System. But there is an error on my mac.

[2021-03-21 10:51] SuperBruceJia commented on #215
Hey bro,

It seems that the YARN was used under the Hadoop YARN. I comment the Hadoop path and use `brew install yarn`.

It works correctly.

Thanks again for your wonderful work.

Best,

Shuyue

[2021-03-21 13:08] SuperBruceJia commented on #215
Another issue is as follows

[code]

[2021-03-27 08:17] #215 closed, assigned to nobody

[2021-04-28 08:26] #106 closed

[2021-09-23 14:47] umjiwan opened #219 "How do I change the title?"
Even if you write "title: name", the title is always "name | the high qua....". How can you change the title?

I turned on the translator.

[2021-09-27 16:14] #219 closed, assigned to nobody

[2021-11-06 11:39] ghost opened #220 "[Information] Running Chalk on Windows"
Hey for everyone having problems with Chalk on Windows.

First make sure you have Msys64 installed or use the one that comes with Ruby Installer with DevKit. I recommend using rubyinstaller-devkit-2.7.4-1. Ruby 3.0 might cause you issues when you running your npm run local or publish.

Next is to make sure you edit packages.json so it has   "setup": "sh bin/setup" and  "publish": "sh bin/deploy".

[2021-11-22 14:24] TenzinCHW opened #221 "publish: false files are deleted after npm run publish"
I have some posts that had `publish: false` in their front matter. I would like to know if this is respected in the deploy file when I run `npm run publish`, as I can no longer find the files.

[2022-03-21 16:35] #209 closed, assigned to nobody

[2022-04-24 20:18] sgbaird commented on #220
[code]

[2022-04-24 20:54] ghost commented on #220
![image](https://user-images.githubusercontent.com/24993673/164996172-0038bb63-e722-45fa-adeb-ce7572a3dd18.png)

Looks like you have ruby 3.1 installed.

[2022-04-25 06:25] sgbaird commented on #220
Ah😅case in point I guess. Got a little carried away with exploring multiple options and somehow missed/forgot this. Thanks @wobes1 !

[2022-11-16 08:34] gsaslis commented on #81
And here's [mine](https://gsaslis.github.io/)!

Thanks so much for this!

[2022-11-16 15:35] nielsenramon commented on #81
@gsaslis So cool!